<time class="date {{ date-classes }}" datetime="{{ year.long }}-{{ month.digit }}-{{ day.long }}T{{ hour.long }}:{{ minute.short}}+00:00">
	<span class="month">{{ month.short }}</span>
	<span class="day">{{ day.long }}</span>
</time>
