{#
 # Random() provides a value from 0 - $num; we could do something to ensure it
 #	always returned at least one, but it's actually useful to occasionally see
 #	blank cells in the table when you are not expecting it.
 #}
<table>
	<caption>{{ fake("bs")|capitalize }}</caption>
	<thead>
		<tr>
			<th scope="col">Nonsense</th>
			<th scope="col">Photo</th>
			<th scope="col">Name</th>
			<th scope="col">Phone Number</th>
			<th scope="col">Job Title</th>
			<th scope="col">Email</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th scope="col">Nonsense</th>
			<th scope="col">Photo</th>
			<th scope="col">Name</th>
			<th scope="col">Phone Number</th>
			<th scope="col">Job Title</th>
			<th scope="col">Email</th>
		</tr>
	</tfoot>
	<tbody>
	<tr>
		<th scope="row">{{ fake("words",{'nb':random(5),'asText':true})|capitalize }}</th>
		<td><img src="{{ fake("imageUrl",{'height':100,'width':100}) }}" alt="Test Headshot"></td>
		<td>{{ fake("name") }}</td>
		<td>{{ fake("phoneNumber") }}</td>
		<td>{{ fake("jobTitle") }}</td>
		<td>{{ fake("safeEmail") }}</td>
	</tr>
	<tr>
		<th scope="row">{{ fake("words",{'nb':random(5),'asText':true})|capitalize }}</th>
		<td><img src="{{ fake("imageUrl",{'height':100,'width':100}) }}" alt="Test Headshot"></td>
		<td>{{ fake("name",{'gender':'male'}) }}</td>
		<td>{{ fake("phoneNumber") }}</td>
		<td>{{ fake("jobTitle") }}</td>
		<td>{{ fake("safeEmail") }}</td>
	</tr>
	<tr>
		<th scope="row">{{ fake("words",{'nb':random(5),'asText':true})|capitalize }}</th>
		<td><img src="{{ fake("imageUrl",{'height':100,'width':100}) }}" alt="Test Headshot"></td>
		<td>{{ fake("name",{'gender':'female'}) }}</td>
		<td>{{ fake("phoneNumber") }}</td>
		<td>{{ fake("jobTitle") }}</td>
		<td>{{ fake("safeEmail") }}</td>
	</tr>
	<tr>
		<th scope="row">{{ fake("words",{'nb':random(5),'asText':true})|capitalize }}</th>
		<td><img src="{{ fake("imageUrl",{'height':100,'width':100}) }}" alt="Test Headshot"></td>
		<td>{{ fake("name") }}</td>
		<td>{{ fake("phoneNumber") }}</td>
		<td>{{ fake("jobTitle") }}</td>
		<td>{{ fake("safeEmail") }}</td>
	</tr>
	</tbody>
</table>
