.accordion {
	.accordion-item > a {
		text-transform: none;
		font-size: rem-calc(18);
		font-weight: bold;

		&:before {
			position: absolute;
			right: auto;
			left: 0;
			top: 0;
			margin-top: .5rem;
			padding: .3rem .5rem;
			background-color: $color-quinary;
		}
	}

	.accordion-content {
		* {
			font-size: rem-calc(15);
		}
	}
}