.banner-overlay {
  position: relative;
  
  .background-image {
    background-size: cover;
    background-position: 50% 50%;
    position: static;
    height: rem-calc(300);

    &:after {
      @extend %pseudo-cover;
      @extend %corner-shade;
    }
  }

  .overlay {
    @extend .color-reverse;
    background-color: $black;
    position: relative;
    color: $white;
    padding: 2rem;
      
    h2 {
      line-height: 1.2em;
      margin-bottom: .75rem;
    }
    p:last-child {
      margin-bottom: 0;
    }
    a {
      color: white;
    }
  }

  @include breakpoint(medium) {
    height: rem-calc(745);
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
    }
    .overlay-wrapper {
      position: absolute;
      z-index: 2;
      bottom: 4rem;
      left: 0;
      right: 0;
    }
  }

  body.home & {
    &:after {
      @extend %pseudo-cover;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0) 50%);
    }
  }
}

.banner--corner-cut {
  .overlay {
    padding: 3rem;
    h2 {
      margin-bottom: 1em;
    }
  }

  @include breakpoint(medium) {
    .overlay-wrapper {
      width: 100%;
      max-width: $grid-row-width;
      margin: 0 auto;
    }
    .overlay {
      width: 66.6667%;
    }
  }
      
  @include breakpoint(xlarge) {
    .overlay {
      width: 45%;

      margin-left: -3rem;
      padding-left: 6rem;
      background-color: transparent;
      background-image: image-url('overlay-bg.svg');
      background-size: 100% auto;
      background-repeat: no-repeat;
     

      // tack on some background at the bottom (so that the clipped image isn't stretched vertically)
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        content: '';
        background-color: $black;
        z-index: -1;
      }
    }
  }
}

.overlay--transparent {
  .overlay {
    padding: 2rem 3.5rem;
    text-align: center;
    h1, h2, h3, h4, h5, h6 {
      font-family: $font-primary;
    }
  }

  @include breakpoint(medium) {
    .overlay-wrapper {
      position: relative;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      max-width: $grid-row-width;
      
      .overlay {
        background-color: rgba(0, 0, 0, 0.65);
        position: relative;
        margin: 0 auto;
      }
    }
  }

  @include breakpoint(large) {
    .overlay {
      width: 60%;
    }
  }
}