.callout {

	h3 {
		font-size: 1rem;
		font-family: $font-primary;
		text-transform: uppercase;
		font-weight: 700;
	}
	&.bigtext {
		h3 {
			font-family: $font-secondary;
			font-size: 2rem;
			font-weight: 400;
			text-transform: none;
		}
		p {
			font-size: rem-calc(18);
		}
	}

	padding: .5rem;
	// if there's any background...
	&[class*="bg-"] {
		padding: 0;
		a {
			text-decoration: underline;
		}
	}

	@include breakpoint(small) {
		margin: .5rem 0;
	}
}

// some custom gutter padding if in a row
.row {
	.callout-wrapper {
		@include breakpoint(medium) {
			@include grid-column(4, .5rem);
		}
	}
}

.callout-inner {
	padding: .5rem;
	// no horizontal padding if following a video
	.embed-wrapper + & {
		padding-left: 0;
		padding-right: 0;
	}
	// increase padding if there's a background
	[class*="bg-"] & {
		padding: 1.5rem;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.media-block {
	padding: 2rem 0;
	&.textured {
		@extend .space-above;
		@extend .space-below;
		@extend .more;
	}
	&.flip {
		// reverse the column order
		@include breakpoint(medium) {
			.b-media {
				@include grid-column-position(5);
			}
			.b-text {
				@include grid-column-position(-7);
			}
		}
	}
	.b-text {
		p {
			font-size: rem-calc(18);
			line-height: 1.4;
		}
	}
	@include breakpoint(medium) {
		&:not(.first) {
			.b-text-inner {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.b-media {
			@include grid-column(7);
		}
		.b-text {
			@include grid-column(5);
		}
	}
}

.question-block {
	display: inline-block;
	padding: 1rem;
	@include breakpoint(medium) {
		padding: 2rem 1rem;
	}
}

.titled-block {
	h4 {
		text-transform: uppercase;
	}
	aside & {
		// in the sidebar, stick in a little decoration under the title
		h4 {
			position: relative;
			padding-bottom: .5rem;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 2rem;
				border-bottom: 4px solid $color-accent-senary;
			}
		}
	}
}

.event-block {
	background-color: $color-quinary;
	padding: 1.5rem;

	.date {
		padding-right: 1rem;
		margin-right: 1rem;
		border-right: 1px solid $color-shade-dark;
	}
	.link {
		margin-bottom: 0;
		p {
			font-size: rem-calc(13);
			line-height: 1.4;
		}
	}

	.month {
		font-size: rem-calc(12);
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1;
	}
	.day {
		font-family: $font-secondary;
		font-size: rem-calc(30);
		font-weight: 300;
		line-height: 1;
	}
	a {
		font-size: rem-calc(18);
		line-height: rem-calc(24);
	}
}
