.featured-item {
	$bgcolor: $color-quaternary;
	$triangle-size: 1.5rem;

	background-color: $bgcolor;

	h4 {
		color: $color-secondary;
	}
	img {
		width: 100%;
		position: relative;
	}
	.inner {
		padding: 1rem;
	}

	@include breakpoint(medium) {
		.inner {
			padding: 2rem;
		}
		.img-wrapper {
			position: relative;
			&:after {
				position: absolute;
				right: 0;
				top: 50%;
				content: '';
				width: 0; 
				height: 0; 
				border-top: $triangle-size solid transparent;
				border-bottom: $triangle-size solid transparent; 
				border-right: $triangle-size solid $bgcolor;
				transform: translateY(-50%);
			}
		}
	}
}