.search-inline {
  .search-field {
    float: right;
    width: rem-calc(100);
    margin-bottom: 0;
  }
  .toggler {
    padding-right: .5rem;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 0;
    transition: width $quick-transition;
    &.expanded {
      width: rem-calc(150);
    }
  }
  &.drop {
    display: block !important;
    padding-bottom: .3rem;
    .search-inline-inner {
      width: 100%;
      text-align: left;
    }
    .search-field {
      float: none;
      width: 100%;
    }
    .toggler.expanded {
      width: calc(100% - 100px);
    }
    form {
      display: inline-block;
      width: 100%;
    }
  }
}