figure {
	img {
		width: 100%;
		max-width: 100%;
	}
	cite {
		display: block;
	}
}

figure.caption-overlay {
  position: relative;
  img {
    margin-bottom: 0;
		width: 100%;
		max-width: 100%;
  }
  figcaption {
    width: 100%;
    @include breakpoint(medium) {
			color: white;
      position: absolute;
			padding: 1em;
			background-color: rgba(0,0,0,.7);
      left: 0; right: 0; bottom: 0;
    }
  }
}

