.alert {
	position: relative;
	background-color: #F6F1CE;
	
	padding: 1rem 1rem 1rem 6rem;
	min-height: 4em;
	
	display: flex;
	align-items: center;
	
	margin-bottom: 1rem;
	
	p:last-child {
		margin-bottom: 0;
	}
}