
// primary navigation menu
.main-nav {
  position: relative;

  > ul {
    list-style: none;
    > li {
      > a {
        color: $white;
        &:before {
          content: '';
          background-image: image-url('chevron-right-white.svg');
          background-size: contain;
          height: 1rem;
          width: 1rem;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  @include breakpoint(menu down) {
    > ul {
      > li {
        > a {
          font-size: rem-calc(18);
          &:hover {
            color: $color-senary;
          }
        }
      }
    }
  }

  @include breakpoint(menu) {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex !important;
    
    > ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      flex-flow: row nowrap;

      > li {
        background-color: $color-dark-background;
        display: block;
        flex-grow: 1;
        flex-basis: 0;
        padding: 0 0 0 1rem;
        margin: rem-calc(0 3);

        &.active {
          background-color: $white;
          > a {
            color: $color-primary;
          }
        }
        > a {
          display: block;
          position: relative;
          z-index: 5;
          width: 100%;
          height: 100%;
          text-align: left;
          padding: rem-calc(15 0);
          line-height: inherit;
          &:before {
            display: none;
          }
        }
      }
    }
  }
}


.header-utility {
	background-color: $black;
	text-align: right;
	li, a {
		color: $white;
		font-size: rem-calc(12);
		text-transform: uppercase;
		font-weight: bold;
		line-height: 2rem;
		&:hover {
			color: darken($white, 20%);
		}
	}
	ul, .search-inline {
		display: inline-block;
	}
}


.nav-sidebar {
	ul {
		color: $color-primary;
	}
	> ul {
		margin-bottom: 2rem;
		@extend .no-bullet;
		> li {
      margin-bottom: .4rem;
      > a {
			 font-weight: bold;
      }
      > ul {
        display: none;
        margin-top: .2rem;
        margin-left: .3rem;
      }
      &.active {
        > a {
          color: $black;
        }
        > ul {
          display: block;
        }
      }
		}
	}
	.button {
		margin-bottom: .5rem;
	}
}