$featured-item-padding: 6rem;

.page-heading {
	&.small-heading {
		h1 {
			@extend h2;
		}
	}
	&.has-featured-item {
		padding-bottom: $featured-item-padding;
	}

	p {
		font-family: $font-secondary;
		font-size: rem-calc(18);
		line-height: rem-calc(30);
		@include breakpoint(medium) {
			font-size: rem-calc(24);
			line-height: rem-calc(40);
		}
	}
}

.featured-item-wrapper {
	position: relative;
	margin-top: -$featured-item-padding;
}