.pullquote {
  text-align: center;
  .pullquote-inner {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 3rem;
    &:before {
      content: '';
      display: block;
      position: relative;
      top: 0;
      width: 50%;
      margin: 0 auto;
      height: 3px;
      border-top: 3px solid $color-accent-quinary;
      padding-bottom: 1rem;
    }
  }
  dt {
    font-family: $font-secondary;
    font-size: rem-calc(24);
    color: $color-primary;
    padding-bottom: rem-calc(10);
  }
  dd {
    font-family: $font-primary;
    font-size: 1rem;
  }
}