.social-share {
	.bg-primary & {
		a {
			color: $white;
		}
	}
	a {
		text-transform: uppercase;
	}
	i {
		&:after {
			font-family: $font-secondary;
			content: '|';
			font-size: rem-calc(18);
			line-height: 1;
			padding-left: .5rem;
			padding-right: calc(.5rem - 4px);
		}
	}
}