/* -------------------------------------------------------------- */
/*    Molecules - Text
/*
/*    TODO: 
/*		- put_todo_items_here
/* -------------------------------------------------------------- */

.cost-range {
	border-left: 1px solid $black;
	font-size: rem-calc(24);
	line-height: rem-calc(35);
	font-style: italic;
	padding-left: .5rem;
	margin-bottom: .5rem;
}