.time-byline {
	p {
		text-transform: uppercase;
		font-size: rem-calc(14) !important;
		margin: 1rem 0 !important;
	}

	svg {
		position: relative;
		z-index: 2;
	}

	.color-reverse & {
		.icon-circle-wrapper {
			svg path {
				fill: $white;
			}
		}
	}
}