{% if ornament is not defined %}
	{% set ornament = random(['chevron-block','double-chevron-block']) %}
{% endif %}
{% if ornament_title is not defined %}
	{% set ornament_title = ornament %}
{% endif %}
{% if className is not defined %}
	{% set ornament_class = ornament %}
{% endif %}

{% if sample_div == true %}
<div class="sample-div ornament-{{ position|default('static') }}">
	<p> This is a sample div wrapper used to demonstrate positioning of the
		ornament below; it is not part of the ornament itself. This wrapper will
		not appear if you include this molecule in other designs.
	</p>
{% endif %}

<div class="ornament frame-{{ frame|default('transparent') }} orient-{{ orientation|default('natural') }}">
	{{ svg.ref(ornament, ornament_title, ornament_class) }}
</div>

{% if sample_div == true %}
</div>
{% endif %}
