<svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 348.2 52.8" enable-background="new 0 0 348.2 52.8" xml:space="preserve" height="53px" width="349px">
<g id="neu">
  <g>
    <g>
      <path fill="#FFFFFF" d="M224.1,0.3v0.8c-3.6,0.3-3.6,2.1-3.6,5.1v6.8c0,3.2,0,4.8-0.9,6.5c-1.3,2.3-4.2,4.2-8.5,4.2
        c-5,0-7.2-2.2-8.2-3.6c-1.2-1.8-1.2-3.5-1.2-7.6V6.4c0-4.9,0-5.3-3.3-5.3h-0.5V0.3h10.5v0.8c-3.6,0-3.7,0-3.7,5.2v6.4
        c0,3.5,0,5.4,0.9,7c0.8,1.4,2.9,2.9,6.3,2.9c2.3,0,5.2-0.8,6.8-3.3c1-1.6,1-3.3,1-6.3v-7c0-2.9,0-4.5-3.7-4.8V0.3H224.1z"/>
      <path fill="#FFFFFF" d="M228.1,8.1c0.3,0.8,0.4,2.3,0.5,3c1.9-2.1,3.5-3,5.6-3c3.4,0,4.6,2.3,4.6,4.8v5.4c0,4,0,4.2,2.4,4.2
        v0.8h-7.5v-0.8c2.5,0,2.5-0.2,2.5-4.2v-4.7c0-3.3-1.2-4.4-3-4.4c-2.1,0-3.4,1.8-4.7,3.1v6c0,4,0,4.2,2.4,4.2v0.8h-7.4v-0.8
        c2.4,0,2.4-0.2,2.4-4.2V14c0-4,0-4.2-2.4-4.2V8.9c1.5-0.2,3.4-0.6,4-0.8H228.1z"/>
      <path fill="#FFFFFF" d="M247.9,19.7c0,2.3,0.2,2.8,2,2.8h0.5v0.8h-7.8v-0.8h0.6c1.9,0,2.2-0.3,2.2-2.8v-5.9c0-4-0.2-4-2.9-4
        V9.1c1.1,0,3.3-0.5,4.9-1h0.4V19.7z"/>
      <path fill="#FFFFFF" d="M258.8,23.9l-5.2-11.7c-1-2.1-1.3-2.6-2.7-2.7V8.7h6.6v0.8c-1,0-1.9,0-1.9,0.9c0,0.1,0,0.4,0.4,1.2
        l4.2,9.6l3.6-7.9c0.5-1.2,0.8-2,0.8-2.5c0-1.1-1.1-1.2-1.8-1.3V8.7h4.9v0.8c-1.5,0.1-2.1,1.5-3.3,4l-4.8,10.5H258.8z"/>
      <path fill="#FFFFFF" d="M271.1,14.3c0,0.3-0.1,0.8-0.1,1.1c0,4.6,1.5,7.6,5,7.6c2,0,3.7-0.9,4.7-2.9h0.8
        c-0.9,2.4-3.1,3.9-6,3.9c-4.1,0-7.5-3.1-7.5-7.8c0-4.5,3-8,7.4-8c4.1,0,6.2,2.7,6.3,6.2H271.1z M271.1,13.6h7.8
        c0-1.7-0.5-4.6-3.7-4.6C272.4,8.9,271.3,11.5,271.1,13.6z"/>
      <path fill="#FFFFFF" d="M288.8,18.3c0,3.7,0,4.2,2.2,4.2h0.5v0.8h-7.8v-0.8c2.5,0,2.5-0.1,2.5-4.2v-4.1c0-4.1,0-4.2-2.5-4.2
        V9.2c1.7-0.2,3.6-0.8,4.1-1l0.3-0.1c0.2,0.6,0.5,1.8,0.5,3.8c1.1-2.7,3.8-3.8,5.6-3.8c1.9,0,2.8,1.4,2.8,2.2
        c0,0.7-0.5,1.3-1.2,1.3c-0.8,0-1.2-0.5-1.4-1.2c-0.1-0.4-0.4-1.1-1.3-1.1c-1.5,0-4.3,1.8-4.3,5.5V18.3z"/>
      <path fill="#FFFFFF" d="M298.5,19h0.7c0.4,1.8,1.6,4.1,5,4.1c3,0,3.4-1.9,3.4-2.6c0-1.8-1.9-2.6-4.2-3.5
        c-3.4-1.2-4.9-2.3-4.9-4.9c0-1.9,1.4-4.1,4.7-4.1c1.7,0,3,0.7,3.8,1.5c0.3-0.3,0.7-1.2,0.7-1.3h0.7v4.5h-0.7
        c-0.3-1.7-1.8-4-4.4-4c-2.4,0-3.2,1.2-3.2,2.2c0,1.7,1.4,2.3,4.1,3.3c2.9,1,5.2,2.2,5.2,5.2c0,2.5-1.8,4.3-5.1,4.3
        c-2.2,0-3.4-0.8-4.3-1.6c-0.4,0.4-0.7,1.2-0.8,1.5h-0.7V19z"/>
      <path fill="#FFFFFF" d="M316.9,19.7c0,2.3,0.2,2.8,2,2.8h0.5v0.8h-7.8v-0.8h0.6c1.9,0,2.2-0.3,2.2-2.8v-5.9c0-4-0.2-4-2.9-4
        V9.1c1.1,0,3.3-0.5,4.9-1h0.4V19.7z"/>
      <path fill="#FFFFFF" d="M325.5,9.5v8.9c0,2,0,4.3,2.2,4.3c1.2,0,1.9-1,2.2-1.5l0.5,0.3c-1.1,2.4-3.5,2.4-3.7,2.4
        c-1,0-1.8-0.2-2.4-0.7c-1-0.7-1.4-2.1-1.4-4.2V9.5h-2.1V8.7c1.6-0.1,3.6-1.1,4.1-4.6h0.6v4.6h4.4v0.8H325.5z"/>
      <path fill="#FFFFFF" d="M344.5,11.9c0.3-0.6,0.5-1.1,0.5-1.4c0-0.8-1.3-1-2-1V8.7h5.1v0.8c-1.8,0.1-2.2,1-3.1,3.2l-6.5,15.7
        c-0.9,2.3-1.8,3.9-3.3,3.9c-0.6,0-1.1-0.4-1.1-1.1c0-1.2,1.2-1.8,1.9-2c1.2-0.6,1.6-0.8,2.2-2l1.4-3.5l-5.5-11.8
        c-0.8-1.8-1.1-2.4-2.9-2.4V8.7h6.7v0.8c-0.9,0.1-1.8,0.1-1.8,0.7c0,0.3,0.4,1.2,0.7,1.8l4,8.6L344.5,11.9z"/>
    </g>
    <path fill="#FFFFFF" d="M248,3.5c0,0.9-0.7,1.6-1.6,1.6c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6
      C247.2,1.9,248,2.6,248,3.5z"/>
    <path fill="#FFFFFF" d="M316.9,3.5c0,0.9-0.7,1.6-1.6,1.6c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6
      C316.2,1.9,316.9,2.6,316.9,3.5z"/>
  </g>
  <g>
    <path fill="#FFFFFF" d="M4.8,2.3v16.4c0,2.4,0.5,3.8,4.2,3.9v0.8H0v-0.8c4-0.2,3.9-1.8,3.9-3.9V6.1c0-4.6-0.3-5-3.6-5V0.3h6.6
      l13.7,18.2V4.6c0-1.9-0.3-3.4-4.1-3.5V0.3h8.8v0.8c-3.5,0.3-3.8,1.6-3.8,3.7v19H21L4.8,2.3z"/>
    <path fill="#FFFFFF" d="M32.8,8.1c4.3,0,7.8,3.3,7.8,7.9c0,5.2-3.9,7.9-7.8,7.9C29,23.9,25,21.4,25,16
      C25,11.5,28.4,8.1,32.8,8.1z M32.8,23.1c3.4,0,4.9-2.3,4.9-6.9c0-4-1.1-7.1-4.9-7.1c-3.7,0-4.8,3.1-4.8,7.1
      C27.9,20.8,29.4,23.1,32.8,23.1z"/>
    <path fill="#FFFFFF" d="M47.1,18.3c0,3.7,0,4.2,2.2,4.2h0.5v0.8H42v-0.8c2.5,0,2.5-0.1,2.5-4.2v-4.1c0-4.1,0-4.2-2.5-4.2V9.2
      c1.7-0.2,3.6-0.8,4.1-1l0.3-0.1c0.2,0.6,0.5,1.8,0.5,3.8c1.1-2.7,3.8-3.8,5.6-3.8c1.9,0,2.8,1.4,2.8,2.2c0,0.7-0.5,1.3-1.2,1.3
      c-0.8,0-1.2-0.5-1.4-1.2c-0.1-0.4-0.4-1.1-1.3-1.1c-1.5,0-4.3,1.8-4.3,5.5V18.3z"/>
    <path fill="#FFFFFF" d="M61.3,9.5v8.9c0,2,0,4.3,2.2,4.3c1.2,0,1.9-1,2.2-1.5l0.5,0.3c-1.1,2.4-3.5,2.4-3.7,2.4
      c-1,0-1.8-0.2-2.4-0.7c-1-0.7-1.4-2.1-1.4-4.2V9.5h-2.1V8.7c1.6-0.1,3.6-1.1,4.1-4.6h0.6v4.6h4.4v0.8H61.3z"/>
    <path fill="#FFFFFF" d="M82.9,18.3c0,4,0,4.2,2.5,4.2v0.8h-7.6v-0.8c2.5,0,2.5-0.2,2.5-4.2v-4.7c0-3.4-1-4.4-3.2-4.4
      c-1.7,0-3.3,1.7-4.5,3.2v5.9c0,3.9,0,4.2,2.3,4.2v0.8h-7.4v-0.8c2.6,0,2.6-0.1,2.6-4.2V5c0-2.6,0-3.4-2.4-3.4V0.8
      c1.5,0,3.5-0.3,4.7-0.8h0.3v11.2c1.8-1.9,3.4-3,5.3-3c3.3,0,4.9,1.7,4.9,5V18.3z"/>
    <path fill="#FFFFFF" d="M89,14.3c0,0.3-0.1,0.8-0.1,1.1c0,4.7,1.5,7.6,5,7.6c2.1,0,3.7-0.9,4.7-2.9h0.8c-0.9,2.4-3.1,3.9-6,3.9
      c-4.1,0-7.5-3.1-7.5-7.8c0-4.5,3-8,7.4-8c4.1,0,6.2,2.7,6.3,6.2H89z M89.1,13.6h7.8c0-1.7-0.5-4.6-3.7-4.6
      C90.4,8.9,89.3,11.6,89.1,13.6z"/>
    <path fill="#FFFFFF" d="M118.5,19h0.7c0.4,1.8,1.6,4.1,5,4.1c3,0,3.4-1.9,3.4-2.6c0-1.8-1.9-2.6-4.2-3.5
      c-3.4-1.2-4.9-2.3-4.9-4.9c0-1.9,1.4-4.1,4.7-4.1c1.7,0,3,0.7,3.8,1.5c0.3-0.3,0.7-1.2,0.7-1.3h0.7v4.5h-0.7
      c-0.3-1.7-1.8-4-4.4-4c-2.4,0-3.2,1.2-3.2,2.2c0,1.7,1.4,2.3,4.1,3.3c2.9,1,5.2,2.2,5.2,5.2c0,2.5-1.8,4.3-5.1,4.3
      c-2.2,0-3.4-0.8-4.3-1.6c-0.4,0.4-0.7,1.2-0.8,1.5h-0.7V19z"/>
    <path fill="#FFFFFF" d="M136,9.5v8.9c0,2,0,4.3,2.2,4.3c1.2,0,1.9-1,2.2-1.5l0.5,0.3c-1.1,2.4-3.5,2.4-3.7,2.4
      c-1,0-1.8-0.2-2.4-0.7c-1-0.7-1.4-2.1-1.4-4.2V9.5h-2.1V8.7c1.6-0.1,3.5-1.1,4.1-4.6h0.6v4.6h4.4v0.8H136z"/>
    <path fill="#FFFFFF" d="M144.9,14.3c0,0.3-0.1,0.8-0.1,1.1c0,4.7,1.5,7.6,5,7.6c2,0,3.7-0.9,4.7-2.9h0.8
      c-0.9,2.4-3.1,3.9-6,3.9c-4.1,0-7.5-3.1-7.5-7.8c0-4.5,3-8,7.4-8c4.1,0,6.2,2.7,6.3,6.2H144.9z M145,13.6h7.8
      c0-1.7-0.5-4.6-3.7-4.6C146.3,8.9,145.2,11.6,145,13.6z"/>
    <path fill="#FFFFFF" d="M162.2,18.3c0,3.7,0,4.2,2.2,4.2h0.5v0.8h-7.8v-0.8c2.5,0,2.5-0.1,2.5-4.2v-4.1c0-4.1,0-4.2-2.5-4.2
      V9.2c1.6-0.2,3.5-0.8,4.1-1l0.3-0.1c0.2,0.6,0.5,1.8,0.5,3.8c1.1-2.7,3.8-3.8,5.6-3.8c1.9,0,2.8,1.4,2.8,2.2
      c0,0.7-0.5,1.3-1.2,1.3c-0.8,0-1.2-0.5-1.4-1.2c-0.1-0.4-0.4-1.1-1.3-1.1c-1.5,0-4.3,1.8-4.3,5.5V18.3z"/>
    <path fill="#FFFFFF" d="M176.3,8.1c0.3,0.8,0.4,2.3,0.5,3c1.9-2,3.5-3,5.6-3c3.4,0,4.6,2.3,4.6,4.8v5.4c0,4,0,4.2,2.4,4.2v0.8
      h-7.5v-0.8c2.5,0,2.5-0.2,2.5-4.2v-4.7c0-3.3-1.2-4.4-3-4.4c-2.1,0-3.4,1.8-4.7,3.2v6c0,4,0,4.2,2.4,4.2v0.8h-7.4v-0.8
      c2.4,0,2.4-0.2,2.4-4.2V14c0-4,0-4.2-2.4-4.2V9c1.5-0.2,3.4-0.6,4-0.8H176.3z"/>
    <g>
      <path fill="#FFFFFF" d="M116.3,20.7c-0.3,1.7-1,1.8-1.5,1.8c-1.1,0-1.2-0.8-1.2-3.3v-5.9c0-2.2-0.3-5.1-5.3-5.1
        c-3.7,0-5.9,1.9-5.9,3.3c0,0.7,0.4,1.1,1,1.1c0.9,0,1.3-0.7,1.5-1.5c0.3-1,0.8-2.1,3.1-2.1c2.7,0,3.1,1.8,3.1,3.9v0.9l-2.8,1
        c-5.2,1.8-6.7,3.8-6.7,5.9s1.6,3.1,3.8,3.1c1.8,0,3.6-0.7,5.7-2.6c0.2,0.9,0.7,2.6,2.8,2.6c2,0,2.9-1.4,3-3H116.3z
         M111.2,20.3c-1.5,1.3-3.5,2.3-4.8,2.3c-1.6,0-2.3-1.1-2.3-2.5c0-2,1.9-3.9,5-4.9l2.1-0.7V20.3z"/>
    </g>
  </g>
</g>
<g id="subtitle">
  <path fill="#FFFFFF" d="M9.1,44c-0.2,2.8-1.2,5.3-4.4,5.3c-4.1,0-4.7-3.9-4.7-7.6c0-3.7,0.7-7.6,4.7-7.6c3,0,4.2,1.7,4.3,4.5H7.1
    c0-1.6-0.6-3.1-2.4-3.1c-2.5,0-2.8,2.7-2.8,6.1c0,3.4,0.3,6.1,2.8,6.1c2.2,0,2.5-2,2.5-3.8H9.1z"/>
  <path fill="#FFFFFF" d="M14.3,37.8c3.2,0,3.9,2.7,3.9,5.7c0,3.1-0.8,5.7-3.9,5.7c-3.2,0-3.9-2.7-3.9-5.7
    C10.4,40.5,11.2,37.8,14.3,37.8z M16.5,43.6c0-2.4-0.3-4.4-2.2-4.4c-1.7,0-2.1,2-2.1,4.4c0,2.4,0.3,4.4,2.1,4.4
    C16.1,48,16.5,45.9,16.5,43.6z"/>
  <path fill="#FFFFFF" d="M20.3,34.5H22v5.2V49h-1.7v-9.4V34.5z"/>
  <path fill="#FFFFFF" d="M24.6,34.5h1.7v5.3V49h-1.7v-9.3V34.5z"/>
  <path fill="#FFFFFF" d="M30.3,43.8c0,1.7,0,4.2,2.1,4.2c1.6,0,1.9-1.7,1.9-2.5H36c0,1.2-0.7,3.9-3.7,3.9c-2.7,0-3.8-1.9-3.8-5.6
    c0-2.7,0.5-5.9,3.9-5.9c3.3,0,3.6,2.9,3.6,5.3v0.7H30.3z M34.3,42.4v-0.6c0-1.2-0.4-2.7-1.9-2.7c-1.8,0-2,2.2-2,2.9v0.4H34.3z"/>
  <path fill="#FFFFFF" d="M45.3,48.3c0,3.3-1.5,4.4-3.7,4.4c-0.7,0-3.3,0-3.6-2.7h1.7c0.1,1,0.9,1.4,1.8,1.4c2.2,0,2.1-1.7,2.1-2.4
    v-1.4h0c-0.4,0.9-1.4,1.5-2.5,1.5c-3.2,0-3.4-4-3.4-5.5c0-3,0.8-5.7,3.6-5.7c1.2,0,2.1,0.8,2.4,1.7h0v-1.4h1.6V48.3z M39.5,43.6
    c0,1.8,0.3,4,2,4c1.9,0,2.2-1.8,2.2-4c0-2.1-0.4-4.3-2.2-4.3C39.9,39.3,39.5,41,39.5,43.6z"/>
  <path fill="#FFFFFF" d="M49.2,43.8c0,1.7,0,4.2,2.1,4.2c1.6,0,1.9-1.7,1.9-2.5h1.7c0,1.2-0.7,3.9-3.7,3.9c-2.7,0-3.8-1.9-3.8-5.6
    c0-2.7,0.5-5.9,3.9-5.9c3.3,0,3.6,2.9,3.6,5.3v0.7H49.2z M53.1,42.4v-0.6c0-1.2-0.4-2.7-1.9-2.7c-1.8,0-2,2.2-2,2.9v0.4H53.1z"/>
  <path fill="#FFFFFF" d="M65.3,37.8c3.2,0,3.9,2.7,3.9,5.7c0,3.1-0.8,5.7-3.9,5.7c-3.2,0-3.9-2.7-3.9-5.7
    C61.4,40.5,62.1,37.8,65.3,37.8z M67.4,43.6c0-2.4-0.3-4.4-2.2-4.4c-1.7,0-2.1,2-2.1,4.4c0,2.4,0.3,4.4,2.1,4.4
    C67.1,48,67.4,45.9,67.4,43.6z"/>
  <path fill="#FFFFFF" d="M71.6,39.4H70v-1.3h1.6v-1.3c0-1.6,0.7-2.5,2.4-2.5h1.2v1.5h-0.8c-0.7,0-1.1,0.3-1.1,1v1.3h1.9v1.3h-1.9
    V49h-1.7V39.4z"/>
  <path fill="#FFFFFF" d="M81.6,34.5h3.7c1.3,0,4.5,0,4.5,4.2c0,2.7-1.7,4.2-4.2,4.2h-2.2V49h-1.8V34.5z M83.3,41.4h2.1
    c1.3,0,2.4-0.9,2.4-2.8c0-1.6-0.8-2.6-2.5-2.6h-2V41.4z"/>
  <path fill="#FFFFFF" d="M91.5,38.1h1.7v1.6h0c0.5-1,1.1-1.9,2.4-1.9c0.3,0,0.6,0,0.8,0.1v1.7c-0.2,0-0.4-0.1-0.9-0.1
    c-0.9,0-2.2,0.8-2.2,2.6V49h-1.7V38.1z"/>
  <path fill="#FFFFFF" d="M101.1,37.8c3.2,0,3.9,2.7,3.9,5.7c0,3.1-0.8,5.7-3.9,5.7c-3.2,0-3.9-2.7-3.9-5.7
    C97.2,40.5,98,37.8,101.1,37.8z M103.3,43.6c0-2.4-0.3-4.4-2.2-4.4c-1.7,0-2.1,2-2.1,4.4c0,2.4,0.3,4.4,2.1,4.4
    C102.9,48,103.3,45.9,103.3,43.6z"/>
  <path fill="#FFFFFF" d="M107.5,39.4h-1.6v-1.3h1.6v-1.3c0-1.6,0.7-2.5,2.4-2.5h1.2v1.5h-0.8c-0.7,0-1.1,0.3-1.1,1v1.3h1.9v1.3
    h-1.9V49h-1.7V39.4z"/>
  <path fill="#FFFFFF" d="M113.9,43.8c0,1.7,0,4.2,2.1,4.2c1.6,0,1.9-1.7,1.9-2.5h1.7c0,1.2-0.7,3.9-3.7,3.9
    c-2.7,0-3.8-1.9-3.8-5.6c0-2.7,0.5-5.9,3.9-5.9c3.3,0,3.6,2.9,3.6,5.3v0.7H113.9z M117.8,42.4v-0.6c0-1.2-0.4-2.7-1.9-2.7
    c-1.8,0-2,2.2-2,2.9v0.4H117.8z"/>
  <path fill="#FFFFFF" d="M126.4,41.3c0-1.4-0.4-2.1-1.6-2.1c-0.5,0-1.8,0.1-1.8,1.7c0,1.3,1.3,1.5,2.7,2c1.3,0.4,2.7,0.9,2.7,3.1
    c0,2.3-1.5,3.4-3.5,3.4c-3.7,0-3.7-2.8-3.7-3.9h1.7c0,1.3,0.4,2.5,2,2.5c0.5,0,1.8-0.3,1.8-1.8c0-1.5-1.3-1.8-2.7-2.2
    c-1.3-0.4-2.7-0.8-2.7-3.1c0-2,1.6-3,3.5-3c3.2,0,3.3,2.2,3.3,3.5H126.4z"/>
  <path fill="#FFFFFF" d="M134.9,41.3c0-1.4-0.4-2.1-1.6-2.1c-0.5,0-1.8,0.1-1.8,1.7c0,1.3,1.3,1.5,2.7,2c1.3,0.4,2.7,0.9,2.7,3.1
    c0,2.3-1.5,3.4-3.5,3.4c-3.7,0-3.7-2.8-3.7-3.9h1.7c0,1.3,0.4,2.5,2,2.5c0.5,0,1.8-0.3,1.8-1.8c0-1.5-1.3-1.8-2.7-2.2
    c-1.3-0.4-2.7-0.8-2.7-3.1c0-2,1.6-3,3.5-3c3.2,0,3.3,2.2,3.3,3.5H134.9z"/>
  <path fill="#FFFFFF" d="M138.8,34.5h1.7v2h-1.7V34.5z M138.8,38.1h1.7V49h-1.7V38.1z"/>
  <path fill="#FFFFFF" d="M146.4,37.8c3.2,0,3.9,2.7,3.9,5.7c0,3.1-0.8,5.7-3.9,5.7c-3.2,0-3.9-2.7-3.9-5.7
    C142.5,40.5,143.3,37.8,146.4,37.8z M148.6,43.6c0-2.4-0.3-4.4-2.2-4.4c-1.7,0-2.1,2-2.1,4.4c0,2.4,0.3,4.4,2.1,4.4
    C148.2,48,148.6,45.9,148.6,43.6z"/>
  <path fill="#FFFFFF" d="M152.3,38.1h1.6v1.3h0c0.4-1,1.6-1.6,2.6-1.6c2.9,0,2.9,2.2,2.9,3.5V49h-1.7v-7.5c0-0.8-0.1-2.2-1.6-2.2
    c-0.9,0-2.2,0.6-2.2,2.2V49h-1.7V38.1z"/>
  <path fill="#FFFFFF" d="M161.6,41.4c0-2.5,1.1-3.6,3.7-3.6c3.3,0,3.3,2,3.3,3.1V47c0,0.4,0,0.9,0.5,0.9c0.2,0,0.3,0,0.4-0.1V49
    c-0.1,0-0.6,0.1-1,0.1c-0.7,0-1.5,0-1.5-1.4h0c-0.5,1-1.6,1.6-2.6,1.6c-2,0-3-1.2-3-3.2c0-1.5,0.7-2.6,2.1-3l2.3-0.7
    c1.2-0.4,1.2-0.7,1.2-1.6c0-1-0.6-1.6-1.8-1.6c-1.9,0-1.9,1.8-1.9,2.1v0.1H161.6z M166.9,43.1c-0.6,0.7-2.1,0.8-2.9,1.3
    c-0.5,0.3-0.8,0.8-0.8,1.7c0,1.1,0.4,1.9,1.5,1.9c1.1,0,2.2-1,2.2-2.1V43.1z"/>
  <path fill="#FFFFFF" d="M171.3,34.5h1.7v5.8V49h-1.7v-8.8V34.5z"/>
  <path fill="#FFFFFF" d="M186.6,38.2c0-1.5-0.5-2.6-2.3-2.6c-1.5,0-2.4,0.8-2.4,2.4c0,4.1,6.9,1.6,6.9,7c0,3.4-2.5,4.3-4.5,4.3
    c-3.4,0-4.4-1.8-4.4-4.8h1.8c0,1.6,0.1,3.4,2.7,3.4c1.4,0,2.5-1,2.5-2.6c0-4.1-6.9-1.7-6.9-7.1c0-1.3,0.6-4,4.3-4
    c2.8,0,4,1.4,4.1,4.1H186.6z"/>
  <path fill="#FFFFFF" d="M191.3,34.9h1.7v3.2h1.9v1.3H193v7c0,0.9,0.2,1.2,1.1,1.2c0.4,0,0.6,0,0.8-0.1V49c-0.2,0-0.7,0.1-1.4,0.1
    c-1.8,0-2.2-0.7-2.2-2.2v-7.5h-1.6v-1.3h1.6V34.9z"/>
  <path fill="#FFFFFF" d="M203.5,49h-1.6v-1.3h0c-0.4,1-1.6,1.6-2.6,1.6c-2.9,0-2.9-2.2-2.9-3.5v-7.7h1.7v7.5
    c0,0.8,0.1,2.2,1.6,2.2c0.9,0,2.2-0.6,2.2-2.2v-7.5h1.7V49z"/>
  <path fill="#FFFFFF" d="M213.1,49h-1.6v-1.3h0c-0.2,0.8-1.2,1.6-2.4,1.6c-2.6,0-3.6-2.3-3.6-5.7c0-2.3,0.4-5.7,3.4-5.7
    c1,0,2,0.6,2.4,1.5h0v-4.9h1.7V49z M209.3,47.8c1.9,0,2.2-1.8,2.2-4.3c0-2.1-0.4-4.3-2.2-4.3c-1.6,0-2,1.7-2,4.3
    S207.7,47.8,209.3,47.8z"/>
  <path fill="#FFFFFF" d="M215.6,34.5h1.7v2h-1.7V34.5z M215.6,38.1h1.7V49h-1.7V38.1z"/>
  <path fill="#FFFFFF" d="M221.3,43.8c0,1.7,0,4.2,2.1,4.2c1.6,0,1.9-1.7,1.9-2.5h1.7c0,1.2-0.7,3.9-3.7,3.9
    c-2.7,0-3.8-1.9-3.8-5.6c0-2.7,0.5-5.9,3.9-5.9c3.3,0,3.6,2.9,3.6,5.3v0.7H221.3z M225.3,42.4v-0.6c0-1.2-0.4-2.7-1.9-2.7
    c-1.8,0-2,2.2-2,2.9v0.4H225.3z"/>
  <path fill="#FFFFFF" d="M233.8,41.3c0-1.4-0.4-2.1-1.6-2.1c-0.5,0-1.8,0.1-1.8,1.7c0,1.3,1.3,1.5,2.7,2c1.3,0.4,2.7,0.9,2.7,3.1
    c0,2.3-1.5,3.4-3.5,3.4c-3.7,0-3.7-2.8-3.7-3.9h1.7c0,1.3,0.4,2.5,2,2.5c0.5,0,1.8-0.3,1.8-1.8c0-1.5-1.3-1.8-2.7-2.2
    c-1.3-0.4-2.7-0.8-2.7-3.1c0-2,1.6-3,3.5-3c3.2,0,3.3,2.2,3.3,3.5H233.8z"/>
</g>
</svg>