<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
		<script src="../../js/jquery.min.js" defer></script>
		<!--
			lib.min.js combines all of the libraries we are using
			except jquery. See the project gulpfile for complete details.
		-->
		<script src="../../js/lib.js" defer></script>
		<!--
			This modernizr library is custom built by gulp after scanning CSS files.
			It will change often during production.
		-->
		<script src="../../js/modernizr-custom.js" defer></script>


		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead|raw }}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
		<div class="pattern-wrapper">
