<div class="row">
  <div class="small-12 medium-4 columns">

    {% include "molecules-block-callout" with {'callout.styleClass': "bg-dark"} %}
    {% include "molecules-block-callout" with {'callout.styleClass': "bg-light"} %}
    {% include "molecules-block-callout" with {'callout.styleClass': "bg-brand"} %}

  </div>
</div>
