<div class="{{ styleModifier }}">
	{% for icon in [
		'chevron',
		'chevron-block',
		'double-chevron',
		'double-chevron-block',
		'prince',
		'facebook',
		'flickr',
		'github',
		'instagram',
		'kickstarter',
		'linkedin',
		'pinterest',
		'reddit',
		'rss',
		'tumblr',
		'twitter',
		'vine',
		'youtube']
	%}
		<div class="cell icon-wrapper">
			{{ svg.ref(icon,icon,icon) }}
		</div>
	{% endfor %}
</div>
