{% if teaser.blurb %}<div class="blurb">{{ excerpt.short|raw }}</div>{% endif %}
{% if teaser.jumpline %}
<div class="jumpline">
	<a href="{{teaser.jumpline.button.url}}" class="button {{ teaser.jumpline.button.classes }}">{{teaser.jumpline.button.link_text}}</a>
</div>
{% endif %}
