<div class="contact">
	<div>
		<div class="contact-label">Phone:</div>
		<div class="contact-value">555-867-5309</div>
	</div>
	<div>
		<div class="contact-label">Fax:</div>
		<div class="contact-value">555-867-5555</div>
	</div>
	<div>
		<div class="contact-label">Email:</div>
		<div class="contact-value">
			<a href="mailto:#">{{ name.firsti }}{{ name.last }}@schoolname.edu</a>
		</div>
	</div>
</div>