<div class="heading-group">
	<h1 class="bio-name">{{ name.first }} {{ name.middlei }} {{ name.last }}{% if credentials is not empty %},
		<span class="bio-credentials">{{ credentials }}</span>
		{% endif %}
	</h1>

	<div class="bio-title gamma">{{ job-title }}</div>
	<div class="bio-org gamma">{{ department }}</div>
</div>
