<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="logo-wrapper">{% include "atoms-logo" %}</div>
	<div class="footer-text">
		{% include "molecules-navigation-list-free" with {"styleModifier":"nav-utility nav-footer"} %}
		{% include "molecules-address" %}
	</div>
</footer>
<!-- End Footer -->
