<!-- Begin .header -->
<header class="header cf" role="banner">
	<div class="logo-wrapper">{% include "atoms-logo" %}</div>
	<div class="header-nav">
		{% include "molecules-search-inline" %}
		{% include "molecules-nav-dropdown" %}
	</div>
</header>
<!-- End .header -->
