/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

%button {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
  
  &.button-secondary {
    background-color: $color-secondary;
    &:hover, &.active {
      background-color: darken($color-secondary, 20%);
    }
  }

  &.button-tertiary {
    background-color: $color-accent-tertiary;
    &:hover, &.active {
      background-color: darken($color-accent-tertiary, 20%);
    }
  }
  
  &.button-ghost {
    background-color: transparent;
    border: solid 2px $white;
    &:hover, &.active {
      background-color: transparentize($white, 0.75);
    }
  }

  &.button-ghost-inverted {
    background-color: transparent;
    border: solid 2px $white;
    &:hover, &.active {
      background-color: $white;
      color: $color-primary;
    }
  }

  &.button-inverted {
    background-color: transparent;
    border: solid 2px $color-accent-quaternary;
    color: $color-primary;
    &:hover {
      border: solid 2px $color-primary;
      background-color: $color-primary;
      color: white;
    }
  }

  &.button-white {
    background-color: $white;
    color: $color-primary;
  }

  &.button-tight {
    padding: .5rem;
  }
  &.button-loose {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &.button-callout {
    font-size: 1rem;
    line-height: rem-calc(22);
    max-width: rem-calc(300);
    padding: 1rem 1rem 1rem 3.5rem;
    text-align: left;
    position: relative;
    @extend .button-tertiary;
    &:before {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      padding-right: .5rem;
    }
    &.float-right {
      margin-left: .5rem;
    }
    &.float-left {
      margin-right: .5rem;
    }
  }
}

.button {
  @extend %button;

  // in a list? lose the margin
  li & {
    margin-bottom: rem-calc(2);
    margin-right: 0;
  }
}