input[type="submit"] {
  @extend .button;
  margin-top: .5rem;
}

// hide the label and just put the required star
label.required {
  &:before {
    color: $color-brand;
    content: '*';
  }
  &.hide {
    display: inline;
    float: left;
    font-size: 0;
    &:before {
      font-size: 1rem;
      display: inline-block;
      margin-top: .5rem;
    }
  }
}

label.required.hide + input {
  width: 95%;
  margin-left: 1rem;
}
