/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video, object {
	max-width: 100%;
	height: auto;
}

iframe {
	margin-bottom: $space;
}

figure {
	img {
		margin-bottom: $space-half;
	}
}

.right-caption {
  background-color: $black;
  .columns {
    overflow-x: hidden;
  }
  img {
    display: block;
    width: auto;
    margin: 0;
    max-width: none;
  }
  figcaption {
    padding: 1rem;
    h4 {
      margin: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    * {
      text-align: left !important;
      color: $white;
    }
  }
}

.figure-credit {
  img {
    margin: 0;
    width: 100%;
  }
  .credit-wrapper {
    position: relative;
  }
  .credit {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $color-brand;
    padding: .5rem 1rem;
    * {
      color: $white;
    }
    h2, h3, h4, h5, h6 {
      margin: 0;
    }
    p:last-child {
      margin: 0;
    }
  }
}

figure {
	margin: 0;
	padding: 0;
}