/* -------------------------------------------------------------- */


/*    Atoms - Lists
/* -------------------------------------------------------------- */

/* Definition Lists
 /* _______________________________________________________________ */

dl {
	margin: 0;
	dt {
		margin: 0;
		&.no-definition {
			margin-bottom: 0.75rem;
		}
	}
	dd {
		margin-left: 0;
		margin-bottom: 1rem;
	}
}


/* Unordered, Ordered (set defaults)
 /* _______________________________________________________________ */

ol {
	margin: 0;
	list-style: none;
	counter-reset: brand-counter;
	> li {
		counter-increment: brand-counter;
		&:before {
			color: $color-primary;
			content: counter(brand-counter) ". ";
		}
		> ol {
			counter-reset: brand-counter-2;
			> li {
				counter-increment: brand-counter-2;
				&:before {
					content: counter(brand-counter-2, lower-latin) ". ";
				}
			}
		}
	}
}

ul {
	margin: 0;
}


/* Loose UL Lists
 /* _______________________________________________________________ */

ul.loose-list {
	li {
		margin-bottom: 1rem;
	}
}

ul.semi-loose-list {
	li {
		margin-bottom: .5rem;
	}
}


/* Inline UL Lists
 /* _______________________________________________________________ */

ul.inline {
	list-style: none;
	li {
		display: inline-block;
		text-indent: 0;
		margin-right: calc(.625rem - 4px);
		&:before {
			display: none;
		}
	}
	&.spaced-more {
		li {
			margin-right: calc(1.25rem - 4px);
		}
	}
	&.slant-separator {
		> li {
			&:not(:last-child) {
				&:after {
					padding-left: rem-calc(10);
					content: ' / ';
				}
			}
		}
	}
	&.dot-separator {
		@extend .slant-separator;
		> li {
			&:not(:last-child) {
				&:after {
					content: ' • ';
				}
			}
		}
	}
	&.pipe-separator {
		@extend .slant-separator;
		> li {
			&:not(:last-child) {
				&:after {
					content: ' | ';
				}
			}
		}
	}
}

/*  nav menu with bottom borders */
ul.lined {
	li {
		border-bottom: 1px solid $color-accent-quinary;
	}
}
