table {
  th {
    text-transform: uppercase;
    font-size: rem-calc(12);
    color: $color-secondary;
  }
  td {
    font-size: rem-calc(15);
  }
  tr {
    border-bottom: 3px solid white;
  }

  @extend %pseudo-feathers;
}