/* -------------------------------------------------------------- */
/*	Atoms - Text
/*
/*	TODO: 
/*		- From original base/_text.scss file, needs organization
/* -------------------------------------------------------------- */



/* Text Related Elements
/* _______________________________________________________________ */
p {
	margin-bottom: $space;
	line-height: rem-calc(22);
}

abbr {
	border-bottom: 1px dotted $gray;
	cursor: help;
}

.uppercase {
	text-transform: uppercase;
}

.letter-spaced {
	letter-spacing: rem-calc(2);
}

.em {
	font-style: italic;
}

.lightweight {
	font-weight: 300;
}


/* Blockquote
/* _______________________________________________________________ */
blockquote {
	display: block;
	margin: 0 auto;
	max-width: 70%;
	text-align: center;
	.heading {
		padding-top: 1rem;
		display: inline-block;
		color: $color-primary;
		font-family: $font-secondary;
		font-size: rem-calc(24);
		line-height: rem-calc(30);
		margin-bottom: .75rem;
		position: relative;
		&:before {
			position: absolute;
			top: 0;
			left: 16.2%;
			right: 16.2%;
			content: '';
			height: 2px;
			border-top: 2px solid $color-accent-quinary;
		}
	}
}


/* Horizontal Rule
/* _______________________________________________________________ */
hr {
	border: 0;
	height: 3px;
	background: $color-accent-quinary;
	margin: $space-double 0;
	&.space {
		background: transparent;
	}
	&.light {
		height: 1px;
	}
	&.tight {
		margin: 1rem 0;
	}
	&.tighter {
		margin: .5rem 0;
	}
	&.tightest {
		margin: 0;
	}
}

article hr {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: $global-width;
}


/* Headings
* heading sizes are responsive, and set in foundation-settings
/* _______________________________________________________________ */
h1, h2 {
	color: $color-big-headings;
}
h1, h2, h3 {
	font-family: $font-secondary;
}
h3 {
	&.small {
		@include breakpoint(medium) {
			font-size: rem-calc(24);
		}
	}
}
h4 {
	font-weight: bold;
}
h5 {
	font-weight: bold;
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  .color-reverse &, &.color-reverse {
    color: $white;
  }
}

.heading.alpha {
	@extend h1;
}
.heading.beta {
	@extend h2;
}
.heading.gamma {
	@extend h3;
}
.heading.delta {
	@extend h4;
}

.heading--underlined, .heading.heading--underlined {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: .281em;
  margin-bottom: rem-calc(18px);
  
  .color-reverse & {
    border-bottom-color: $white;
  }
}

/* Intro Text
/* _______________________________________________________________ */
.intro {
	font-size: $font-size-large;
	font-weight: bold;
}

.small-info {
	font-family: $font-secondary;
	margin: 0;
	text-transform: uppercase;
	font-style: italic;
	font-size: rem-calc(11);
}


/* Caption
/* _______________________________________________________________ */
.caption {
	font-style: italic;
}


/* Passages of Text
/* _______________________________________________________________ */
.text {
	a {
		text-decoration: underline;
	}

	ul, ol {
		margin-left: rem-calc(30);
		margin-bottom: $space;
	}
}
