/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
.brick {
	background: #dcdddc;
	padding: $pad-double;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid $gray;
}

.block {
	overflow: hidden;

	p:last-child {
		margin-bottom: 0;
	}
}

.piped {
	border-left: 3px solid $color-brand;
	padding-left: 1.5rem;
	&.complement {
		border-color: $color-brand-complement-light;
	}
}
