/*
 * Button placement within text field
*/

$search-form-width: 60vw;

.inner-button {
	
	form {
		position: relative;
		width: 100%;
	}
	
	&.search-form input[type="search"] {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	
	button {
		background: transparent;
		&:hover {
			background: rgba($color-secondary, 0.1);
		}
		color: $color-text;
		@extend .text-replace;
		&:before {
			color: rgba($color-text, .5);
			font-size: rem-calc(20);
		}
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		padding: .5rem 1rem;
		margin: 0;
		box-shadow: none;
	}
}

/*
 * search
 */

.search-bar {
	padding: 1rem;
	background-color: rgba($black, .3);
	overflow: hidden;
}

.search-form {
	
	fieldset > div {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
	}
	position: relative;
	width: $search-form-width; // found at top of molecules/_forms.scss
	
	input[type="search"] {
//		border: none;
//		box-shadow: none;
		display: block;
		flex: 1 0 3em;
		width: auto;
		background: white;
		margin-bottom: 0;
		color: $color-text;
		@include placeholder {
			color: rgba($color-text, .6);
		}
		padding: .5rem 1rem;
	}
	
	.button-wrapper {
		flex: 0 0 auto;
	}
	
	input, button {
		height: 2.5rem;
	}
}

.search-submit {
	display: block;
	width: auto;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0.5rem;
	&:before {
		@extend .fa;
		content: $fa-var-search;
	}
}