.max-page-width {
	max-width: $global-width;
	margin-right: auto;
	margin-left: auto;
	padding-left: $pad;
	padding-right: $pad;
}

.main > * {
	max-width: $global-width;
	margin-right: auto;
	margin-left: auto;
	padding-left: $pad;
	padding-right: $pad;
}

.bleed {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.fill-width {
	padding-left: 0;
	padding-right: 0;
}


// Foundation grid tweaks

.fill-width {
	.column, .columns {
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}
	}
}

.row.collapse-outer > .column,
.row.collapse-outer > .columns {
	padding-left: 0;
	padding-right: $grid-column-gutter;
	
	&:last-of-type {
		padding-right: 0;
	}
}

.article-wrapper {
	padding-top: 2rem;
}

// responsive flex cols
@mixin flex-cols($size, $n) {
	.#{$size}-flex-#{$n} {
		column-count: $n;
		overflow: hidden;
	}
}

@each $cols in 1, 2, 3, 4, 5 {
	@include flex-cols(small, $cols);
	@include breakpoint(medium) {
		@include flex-cols(medium, $cols);
	}
	@include breakpoint(large) {
		@include flex-cols(large, $cols);
	}
}