.alert {
	position: relative;
	background-color: #F6F1CE;
	
	padding: 1rem 1rem 1rem 6rem;
	min-height: 4em;
	
	display: flex;
	align-items: center;
	
	margin-bottom: 1rem;
	
	p:last-child {
		margin-bottom: 0;
	}
	
	&::before {
		content: $fa-var-exclamation-triangle;
		font-family: $icon-font;
		font-size: 3rem;
		
		width: 4rem;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 1rem;
		
		padding-right: 1rem;
		
		display: flex;
		align-items: center;
		
		text-align: center;
		
		border-right: solid 1px $color-text;
	}
	
	&.error {
		background-color: #FF9E9E;
		
		&::before {
			content: $fa-var-exclamation-circle;
		}
	}
}