	// TODO: make a pattern for this style
// general inline navigation
%inline-nav {
	
	ul li, > a {
		position: relative;
		display: inline-block;
		margin-right: 1em;
		
		&::after {
			content: '|';
			color: $color-secondary;
			cursor: default;
			
			display: block;
			position: absolute;
			margin-top: -.1em;
			top: 0;
			right: -0.75em;
			
			text-align: left;
		}
		
		&:last-of-type::after {
			content: '';
			width: auto;
		}
	}
	a {
		display: inline-block;
		&:link,
		&:hover,
		&:active,
		&:visited {
			text-decoration: none;
		}
	}
}

// Basic navigation styles
.nav {
	
}

// primary navigation menu
.nav-primary {
	ul {
		@extend .strip-list;
	}
	
	@extend %inline-nav;
	
	text-align: center;
	
	font-size: $font-size-large;
	
	a:link,
	a:visited {
		color: $color-secondary;
		
		.bg-dark & {
			color: $white;
		}
	}
	a:hover,
	a:active {
		color: darken($color-secondary, 20%);
		
		.bg-dark & {
			color: $color-shade-dark;
		}
	}
	
	ul li, > a {
		&::after {
			color: $color-primary;
			
			.bg-dark & {
				color: $color-secondary;
			}
		}
	}
	
	a.is-active {
		border-bottom: solid 2px $color-tertiary;
		
		&::after {
			border-bottom: none;
		}
	}
}

// utility navigation

.nav-utility {
	@extend .strip-list;
	
	@extend %inline-nav;
	
	text-align: right;
	
	a:hover,
	a:active {
		color: darken($color-tertiary, 20%);
	}
	
	.bg-dark & {
		a:hover,
		a:active {
			color: lighten($color-tertiary, 20%);
		}
	}
	
}

// list of links in sidebar

%nav-header-text {
	font-size: $font-size-large;
	line-height: 1.4;
	color: inherit;
}

.nav-section {
	
	.nav-header {
		
		@extend %nav-header-text;
		margin: 0;
		padding: 0.5rem 0;
		
		&::before {
			@extend .fa;
			content: $fa-var-angle-double-down;
			
			position: static;
			width: 1rem;
		}
	}
	
	border-bottom: 1px solid $color-brand;
	
	&:first-child {
		border-top: 1px solid $color-brand;
	}
	
	a {
		color: $color-brand;
	}
	
	ul {
		padding: 0 1rem;
		
		border: none;
	}
	
	li {
		&::before {
			content: $icon-chevron-right;
		}
	}
}

.nav-section-group {
	padding: $pad;
	
	&.accordion {
		border: none;
		
		.nav-header {
			color: $color-brand;
			
			&::before {
				/*
				For browsers without support for transformations, the following line may be necessary
				*/
				//content: $fa-var-angle-double-right;
				
				transform: rotate(-90deg);
				
				transition: transform 0.25s;
				
			}
		}
		
		.nav-section.is-active .nav-header{
			@extend %nav-header-text;
			
			&::before {
				/*
				For browsers without support for transformations, the following line may be necessary
				*/
				//content: $fa-var-angle-double-down;
				
				transform: none;
				/* The animation of this icon is controlled by the "transition" property in the non-active .nav-header::before above */
			}
		}
		
	}
	
	.accordion-title {
		border: none;
		
	}
	
	.accordion-item {
		padding: 0;
	}
}


// following a stats box? no margin, no top border
.quicklook-stats + .secondary-nav {
	margin-top: -2rem;
	ul.secondary-nav-list {
		li:first-child {
			border-top: none;
		}
	}
}

// breadcrumbs: derived from http://ysu.newcitystaging.com/pl/?p=molecules-breadcrumbs, modified to not require UL or LI elements
%breadcrumb-link {
	color: $color-secondary;
	
	display: inline-block;
	vertical-align: middle;
	font-family: $font-primary;
	text-transform: uppercase;
	font-size: rem-calc(11);
}

.breadcrumbs {
	$breadcrumb-height: rem-calc(20);
	display: block;
//	background-color: $color-brand;
	padding: rem-calc(7 0);
	margin: 0;
	> * {
		color: $color-secondary;
		&:before {
			color: $color-secondary;
		}
	}
	a {
		@extend %breadcrumb-link;
	}
	
	li {
		text-indent: 0;
		margin-left: 0;
	}
	
	li,
	span {
		display: inline-block;
		line-height: $breadcrumb-height;
		margin-right: 0.25em;
		
		&::before {
		/* Most of these styles are to make list and non-list versions of the breadcrumbs behave identically by normalizing LI and SPAN */
			display: inline;
			margin-left: 0;
			margin-top: 0;
			content: "";
			font-family: "FontAwesome";
			font-size: 0.5em;
			vertical-align: top;
		}
		
		&:not(:first-child)::before {
			font-size: 0.5em;
			content: "/";
			margin-right: 1em;
		}
		
		&:first-child {
			&::before {
				content: "";
				margin-right: 0;
			}
			a {
				font-size: 0;
				&:before {
					@extend .fa;
					content: $fa-var-home;
					font-size: $breadcrumb-height;
					vertical-align: middle;
				}
			}
		}
	}
}

// Reset to make Foundation's menu lists work

.menu {
	@extend .strip-list;
	
}