.ornament {
	height: $ornament-size;
	width: $ornament-size;

	svg {
		height: 100%;
		width: 100%;
	}

	&.orient-down,
	&.orient-rot-90 {
		svg {
			transform: rotate(90deg);
		}
	}

	&.orient-right,
	&.orient-rot-180 {
		svg {
			transform: rotate(180deg);
		}
	}

	&.orient-up,
	&.orient-rot-270 {
		svg {
			transform: rotate(270deg);
		}
	}

	&.frame-transparent {
		background-color: transparent;
	}

	&.frame-white {
		background-color: $white;
		color: $color-shade-darkest;
	}

	&.frame-black {
		background-color: $black;
		color: $white;
	}

	&.frame-light {
		background-color: $color-shade-lighter;
		color: $color-shade-darkest;
	}

	&.frame-dark {
		background-color: $color-shade-darkest;
		color: $white;
	}

	&.frame-brand {
		background-color: $color-brand;
		color: $white;
	}

	&.frame-secondary {
		background-color: $color-secondary;
		color: $white;
	}

}

.ornament-above {
	@include ornament-above;
}

.ornament-below {
	@include ornament-below;
}
