/* -------------------------------------------------------------- */
/*    Molecules - Text
/*
/*    TODO:
/*		- put_todo_items_here
/* -------------------------------------------------------------- */

/*
/* Pullquote
/* _______________________________________________________________ */
.pullquote {
	margin: 1rem 0;
	padding: 0;
	color: $color-brand;
	position: relative;
	border: none;
	p {
		margin-left: $pullquote-margin;
		color: inherit;
		font-size: rem-calc(20);
		margin-bottom: $space-half;
	}
	cite {
		margin-left: $pullquote-margin;
		color: inherit;
		font-style: italic;
	}
	&:before {
		position: absolute;
		margin-top: .3rem;
		margin-left: 0;
		display: block;
		@extend .fa;
		content: $fa-var-quote-left;
		background-color: $color-brand;
		color: $white;
		border-radius: 50%;
		font-size: rem-calc(30);
		height: rem-calc(60);
		width: rem-calc(60);
		line-height: rem-calc(60);
		text-align: center;
	}
}


/* Bracketed Headings
/* _______________________________________________________________ */
%heading-brackets {
	display: inline-block;
	position: relative;
	padding: 0 1.5rem;
	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -.5rem;
		bottom: -.5rem;
		width: rem-calc(5);
		border-width: 2px;
		border-style: solid;
	}
	&:before {
		left: 0;
		border-right: none;
	}
	&:after {
		right: 0;
		border-left: none;
	}
	&.light {
		&:before,
		&:after {
			border-color: $white;
		}
	}
	&.tall {
		&:before,
		&:after {
			top: -.1em;
			bottom: -.1em;
		}
	}
	&.taller {
		&:before,
		&:after {
			top: -.3em;
			bottom: -.3em;
		}
	}
}

.bracketed {
	@extend %heading-brackets;
}

.contact {
	.contact-label, .contact-value {
		display: inline-block;
	}

	.contact-label {
		font-weight: bold;
	}
}
