<div class="teaser-list {{ styleModifier }}">
	{% for i in 1..4 %}
		{% include "organisms-teaser" with {'teaser.teaserclasses': "has-date", 'teaser.date': true, 'teaser.jumpline': false} %}
	{% endfor %}
</div>
