{# Set some variables, not sure how to link these to the scss #}
{% set fonts = {
    'font_primary': 'sans-serif',
    'font_secondary': 'serif',
    'font_tertiary': 'Helvetica'
} %}


  {% block head %}
    {# Link styles and scripts to header.php #}
  {% endblock %}

  <title>{% block title %} {{ site.title }} {% endblock %}</title>
</head>

  <body>

      <header>

        {% block header %}

            {% include "molecules/navigation/main-nav.twig" %}

        {% endblock header %}

      </header>



      <div id="content">
        {% block content %}

        {% endblock content %}
      </div>


      <footer>
          {% block footer %}
              &copy; Copyright 2016 by <a href="http://insidenewcity.com/">NewCity</a>.
          {% endblock footer %}
      </footer>

  </body>
</html>
