{# Base template #}
{% extends "base.twig" %}

{% block head %}
  {# Drop any styles into the header here #}
{% endblock %}

{# Overwrites site title with page title; uses shortcut #}
{% block title page.title %}



{# Main Content #}
{% block content %}
		<div class="row">
			<div class="small-12 medium-10 medium-centered columns">

        <!-- The page's title and main content -->
				<h2>{{ post.title }}</h2>
				<p>{{ post.content }}</p>

        <!-- The page's featured image -->
        <img src="{{ post.thumbnail.src('medium')}}" alt="{{ post.title }}"/>

        <!-- Advanced Custom Field based on id -->
        <p>{{ post.get_field('title')}}</p>

			</div>
		</div>
{% endblock %}

{# Remove comment to write over the existing footer
  {% block footer %}
  {% endblock %}
#}
