<div class="callout {{ callout.styleClass }}">
  <div class="callout-inner">
  	<h5>{{ callout.sectionTitle }}</h4>
    <h3>{{ callout.title }}</h3>
    <p>{{ callout.body }}</p>
    <a href="{{ url }}">More {{ callout.sectionTitle }}s</a>
	</div>
</div>