<div class="block block-inset">
    <a href="{{ url }}" class="inner">
		<div class="b-thumb">
			{% include "atoms-landscape_4x3" %}
		</div>
		<div class="b-text">
			<h2 class="headline">{{ headline.short }}</h2>
		</div>
	</a>
</div>
