<div class="block block-hero">
	<a href="{{ url }}" class="b-inner">
		<div class="b-thumb">
			{% include "atoms-landscape_16x9" %} 
		</div>
		<div class="b-text">
			<h2 class="b-title">{{ headline.medium }}</h2>
		</div>
	</a>
</div>
