<div class="block block-thumb">
    <a href="{{ url }}" class="b-inner">
		<div class="b-thumb">
			{% include "atoms-square" %}
		</div>
		<div class="b-text">
			<h2 class="b-title">{{ headline.short }}</h2>
			<p>{{ excerpt.medium }}</p> 
		</div>
	</a>
</div>
