<h3>List-free navigation</h3>
<div class="breadcrumbs">
	<span><a href="{{ url }}">Home</a></span>
	<span><a href="{{ url }}">Parent</a></span>
	<span><a href="{{ url }}">Child</a></span>
	<span><a href="{{ url }}">Grandchild</a></span>
	<span><a href="{{ url }}">Great-Grandchild</a></span>
</div>

<h3>List-based navigation</h3>
<ul class="breadcrumbs">
	<li><a href="{{ url }}">Home</a></li>
	<li><a href="{{ url }}">Parent</a></li>
	<li><a href="{{ url }}">Child</a></li>
	<li><a href="{{ url }}">Grandchild</a></li>
	<li><a href="{{ url }}">Great-Grandchild</a></li>
</ul>