<nav class="menu-primary" role="menu">
	<ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="{{ url }}">Who We Are</a>
          <ul class="menu">
            <li><a href="{{ url }}">Our Team</a></li>
            <li><a href="{{ url }}">Partnerships</a></li>
            <li><a href="{{ url }}">In the News</a></li>
            <li><a href="{{ url }}">Our Office</a></li>
            <li><a href="{{ url }}">Contact Us</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ url }}">Our Method &amp; Services</a>
        </li>
        <li>
          <a href="{{ url }}">Case Studies</a>
          <ul class="menu">
            <li><a href="{{ url }}">Item 3A</a></li>
            <li><a href="{{ url }}">Item 3B</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ url }}">Areas of Expertise</a>
          <ul class="menu">
            <li><a href="{{ url }}">Item 3A</a></li>
            <li><a href="{{ url }}">Item 3B</a></li>
          </ul>
        </li>
      </ul>
</nav>