<nav class="nav {{ styleModifier }}">
	<a href="{{ url }}">{{ name.first }}</a>
	<a href="{{ url }}" class="is-active">{{ name.first }}</a>
	<a href="{{ url }}">{{ name.first }}</a>
</nav><!--end .nav-->
