<div class="page" id="page">
	{% include "organisms-header" %}

	{%
		set teaser = {
			'teaser' : {
				'superhead':"Text Overlay",
				'teaserclasses':"image-overlay",
				'teaserimg':true,
				'teaserjumpline':false
			}
		}
	%}
	<main role="main" class="main">

		<!-- Feature Slideshow (one slide at a time) -->
		<div class="slideshow slideshow--feature callout-carousel">
			{% for i in 0..4 %}
				{% include "organisms-teaser" %}
			{% endfor %}
		</div>

		<!-- Group of text overlay teasers -->

		<div class="row collapse-outer fill-width">
			<div class="medium-8 column">{% include "organisms-teaser" with teaser %}</div>

			<div class="medium-8 column">{% include "organisms-teaser" with teaser %}</div>

			<div class="medium-8 column">{% include "organisms-teaser" with teaser %}</div>
		</div>

		<!-- Content slideshow (multiple itmes at once)
				For reference: http://liberalarts.vt.edu/index.html -->
		<div class="slideshow slideshow--content teaser-overlay-carousel">
			<div class="medium-4 column">{% include "organisms-teaser" with teaser  %}</div>

			<div class="medium-4 column">{% include "organisms-teaser" with teaser  %}</div>

			<div class="medium-4 column">{% include "organisms-teaser" with teaser  %}</div>

			<div class="medium-4 column">{% include "organisms-teaser" with teaser  %}</div>

			<div class="medium-4 column">{% include "organisms-teaser" with teaser  %}</div>

			<div class="medium-4 column">{% include "organisms-teaser" with teaser  %}</div>
		</div>

		<div class="row fill-width">
			<div class="medium-12 column"><!-- News Listing -->
				{% include "organisms-event-list:news-list" %}
			</div>

			<div class="medium-12 column">
				<!-- Event Listing (reference: http://liberalarts.vt.edu/research.html) -->
				{% include "organisms-event-list:event-list" %}
			</div>
		</div>

	</main><!--End role=main-->
	{% include "organisms-footer" %}
</div>
