/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

// generate the image url by prefixing the layout image path
@function image-url($url) {
  @return url("#{$image-url-path}#{$url}");
}

// style input placeholders
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder           {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin ornament-above {
	margin-top: $ornament-size / 2;
	padding-top: $ornament-size / 2;
	position: relative;

	.ornament {
		left: 50%;
		position: absolute;
		top: 0;
		transform: translateX(-50%) translateY(-50%);
	}
}

@mixin ornament-below {
	margin-bottom: $ornament-size / 2;
	padding-bottom: $ornament-size / 2;
	position: relative;

	.ornament {
		bottom: 0;
		left: 50%;
		position: absolute;
		transform: translateX(-50%) translateY(50%);
	}
}
