/* -------------------------------------------------------------- */
/*    Variables
/* -------------------------------------------------------------- */


/* Colors
/* remember to turn off any unused swatches in atoms>global>colors.mustache
/* _______________________________________________________________ */

$color-undefined: #e31ace;

// Brand Color Palette: primaries
$color-primary: #7c1937;
$color-secondary: #576e79;
$color-tertiary: #e15f29;
$color-quaternary: #fec469;
$color-quinary: $color-undefined;
$color-senary: $color-undefined;
$color-septenary: $color-undefined;
$color-octonary: $color-undefined;
$color-nonary: $color-undefined;
$color-denary: $color-undefined;

// Brand Color Palette: accents
$color-accent-primary: $color-undefined;
$color-accent-secondary: $color-undefined;
$color-accent-tertiary: $color-undefined;
$color-accent-quaternary: $color-undefined;
$color-accent-quinary: $color-undefined;
$color-accent-senary: $color-undefined;
$color-accent-septenary: $color-undefined;
$color-accent-octonary: $color-undefined;
$color-accent-nonary: $color-undefined;
$color-accent-denary: $color-undefined;

// Grays / Shades / Support Colors
$color-shade-lightest: #fafafa;             // these grays are from longwood. we can keep, make more generic, or use color-undefined. I'll decide later.
$color-shade-lighter: #f3f3f3;
$color-shade-light: #dedede;
$color-shade: #c2c2c2;
$color-shade-dark: #a1a1a1;
$color-shade-darker: #868686;
$color-shade-darkest: #2d2d2d;


// Utility Colors
$color-text: $color-shade-darkest;
$color-bg: $color-shade-lightest;
$color-border: $color-undefined;
// add more here as needed


// leaving these originals for now until I have time to remove the vars from the rest of the sass - jcs
//Colors
$gray : #696969;
$light-gray: rgba(235, 235, 235, 0.5);
$dark-gray: #535353;

$white : #fff;
$black : #000;

$color-brand: $color-primary;
$color-brand-darken: darken($color-brand, 0.25);
$color-dark-overlay: rgba(0, 0, 0, 0.64);

$color-light-background: #f2f0e8;
$color-light-border: #e5d7aa;

$color-brand-complement: #a5884a;
$color-brand-complement-light: #ac9b7a;

.bg-dark {
  background-color: $black;
  color: $white;
}
.bg-white {
  background-color: $white;
}
.bg-transparent {
  background-color: transparent;
  color: $white;
}
.bg-light {
  background-color: $color-light-background;
}
.bg-brand {
  background-color: $color-brand;
  color: $white;
}
.bg-gray {
  background-color: $gray;
  color: $black;
}
.bg-complement {
  background-color: $color-brand-complement;
  color: $white;
}
.bg-alpha {
  $alphac: .8;
  &.bg-dark {
    background-color: rgba($black, $alphac);
    color: $white;
  }
  &.bg-white {
    background-color: rgba($white, $alphac);
  }
  &.bg-light {
    background-color: rgba($color-light-background, $alphac);
  }
  &.bg-brand {
    background-color: rgba($color-brand, $alphac);
    color: $white;
  }
  &.bg-gray {
    background-color: rgba($gray, $alphac);
    color: $black;
  }
  &.bg-complement {
    background-color: rgba($color-brand-complement, $alphac);
    color: $white;
  }
}

/* Typography
/* _______________________________________________________________ */

// Setup font families
$font-primary : 'Arial', sans-serif;
$font-secondary : 'Georgia', serif;
$font-tertiary: 'Georgia', serif;

// Set font variables, if any
$font-accent: $font-tertiary;

// Font sizing
$base-font-size: 16px;

$font-size-smallest: 0.65em;
$font-size-smaller: 0.75em;
$font-size-small: 0.875em;
$font-size-default: 1em;
$font-size-large: 1.25em;
$font-size-larger: 1.5em;
$font-size-largest: 2em;


/* Paths
/* _______________________________________________________________ */
$image-url-path: "../images/";

//Layout
$max-width: 72em;

//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;
$pullquote-margin: 5rem;

$negative-bleed: -9999px;

$ornament-size: 3.625rem;

//Borders
$border-med: 3px;
$border-thick: 7px;

// animations
$transition-time: .3s;
$transition-time-slow: .8s;

// breadcrumbs
$crumb-border-size: 0;
$crumb-border-style: none;
$crumb-radius: 0;


//
