<div class="profile-header {{ styleModifier }}">

	<figure class="profile-header--portrait medium-8 medium-push-16 column">
		{% include "atoms-avatar" %}
	</figure>

	<div class="profile-header--text medium-16 medium-pull-8 column">
		{% include "molecules-name-and-title" %} 
		
		{% include "molecules-contact-info" %}
		
		<div class="links">
			<a href="{{ url }}">Full Bio</a>
			<a href="{{ url }}">Download CV</a>
		</div>
	</div>

</div>