<form method="post" action="{{ url }}" class="login-form">
	<fieldset>
		<div class="field-container">
			<label for="comment-name">Username</label>
			<input id="comment-name" type="text" placeholder="Username" />
		</div>
		<div class="field-container">
			<label for="comment-email">Password</label>
			<input id="comment-email" type="email" placeholder="Password" />
		</div>
		
		<input value="Submit" type="submit">
	</fieldset>
</form>