<div class="callout-wrapper">
	<div class="callout {{ styleClass }}" {% if equalize %}data-equalizer-watch{% endif %}>
	  {% if callout.video %}
	  	{% include "atoms-youtube" with { "youtube": callout.video } %}
	  {% endif %}
	  <div class="callout-inner">
	    <h3>{{ callout.title }}</h3>
	    <p>{{ callout.body }}</p>
	    {% for link in callout.links %}
	      <a href="{{ url }}">{{ link }}</a>
		{% endfor %}
	  </div>
	</div>
</div>