<div class="event-block">
	<div class="flex-vertical-center">
		<div class="date">
			<div class="inner">
				<div class="month">{{ month.short }}</div>
				<div class="day">{{ day.short }}</div>
			</div>
		</div>
		<div class="link tight">
			<div class="inner">
				<a href="{{ url }}">{{ title }}</a>
				<p>{{ subtitle|default('A subtitle') }}</p>
				<p>{{ time }}</p>
			</div>
		</div>
	</div>
</div>