<div class="media-block {{ styleClass }}{% if mediaBlock.first %} first{% endif %}" data-equalizer data-equalize-on="medium">
	<div class="row">
	    <div class="b-media" data-equalizer-watch>
	    	{% include "atoms-youtube" with { "youtube": mediaBlock.video|default('kTcRRaXV-fg') } %}
	    </div>

	    <div class="b-text callout-inner" data-equalizer-watch>
	    	<div class="b-text-inner">
		    	{% if mediaBlock.first %}
		    		<h2>{{ mediaBlock.title }}</h2>
		    	{% else %}
		    		<h3>{{ mediaBlock.title }}</h3>
		    	{% endif %}

		    	{% if time %}
		    		{% include "molecules-time-byline" %}
		    	{% endif %}

		    	<p>{{ mediaBlock.body|default(fake('paragraph')) }}</p>
		    </div>
	    </div>
	</div>
</div>
