<div class="task-block {{ styleClass }}">
	<div class="task-block-outer slide-in">
		{% include "molecules-time-byline" with { "time": time } %}
		<div class="task-block-inner">
			<h2>{{ title }}</h2>
			{% if subtitle %}
				<h5>{{ subtitle }}</h5>
			{% endif %}
			<p>{{ body }}</p>
			{% if links %}
				<ul class="space-below">
					{% for l in links %}
						<li><a href="{{ url }}">{{ l }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if buttons %}
				{% for l in buttons %}
					<a href="{{ url }}" class="button">{{ l }}</a>
				{% endfor %}
			{% endif %}

			{% if hasEvent %}
				<div class="space-above">
					{% include "molecules-event-block" with { 
							"title": "Spring 2016 New Student Orientation",
							"subtitle": "Curry Ballroom",
							"time": "Some group: 4:00 - 8:00pm | Another group: 5:00pm - 8:00pm" 
					} %}
				</div>
			{% endif %}
		</div>
	</div>
</div>