{#
	Teaser markup. No images are included in this molecule; combine images with
	this molecule to create more rich organisms.

	CMS Note: There are often many, many varieties of teasers. To aid CMS
	implementation, try not to make new markup for teaser types; expand this one
	to the maximal case and use stylesheets to change layouts. It's better to
	have simple teasers have too much markup than force people to use many
	different content types for the same basic task.
#}

<div class="teaser {{ teaser.teaserclasses }}">
	{% if teaser.icon is not empty %}
		{% include "molecules-teaser-icon" %}
	{% endif %}
	{% if teaser.img is not empty %}
		{% include "molecules-teaser-photo" %}
	{% endif %}
	{% if teaser.date is not empty %}
		{% include "molecules-teaser-date" %}
	{% endif %}
	<div class="teaser-content">

		{% include "molecules-heading-group" %}

		{% if teaser.jumpline is not empty %}
			{% include "molecules-blurb-and-link" %}
		{% endif %}

		{% if teaser.jumpline is empty %}
			{% include "molecules-blurb-and-link(teaser.jumpline: false)" %}
		{% endif %}
	</div>
</div>
