/*
 * header
 */


.header {
	@include clearfix;
	padding: $space;
	border-bottom: solid $color-shade 2px;
	margin-bottom: $space;
	
	.logo-wrapper {
		float: left;
	}
	
	.header-nav {
		display: flex;
		flex-flow: column;
		align-items: flex-end;
		justify-content: space-between;
		
		.search-form {
			width: 50%;
		}
	}
}


.banner {
	.single-banner {
		max-height: 30rem;
		overflow: hidden;
	}
	
	.single-banner + .banner__text-overlay {
		@extend .max-page-width;
		position: relative;
		margin: -30rem auto 0 auto;
		height: 30rem;
		
		padding: $pad;
		
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		
		font-size: 2em;
		color: white;
	}
}

$breadcrumb-height: rem-calc(35);

@include breakpoint(medium) {
	.header {
		max-width: $global-width;
		margin-right: auto;
		margin-left: auto;
		padding-left: $pad;
		padding-right: $pad;
	}

	.breadcrumb-wrapper {
		height: $breadcrumb-height;
		max-width: 100%;
	}

	.breadcrumb-inner-wrapper {
		position: relative;
		top: 0;
		height: $breadcrumb-height;
		&:after {
		  display: block;
		  content: '';
		  position: absolute;
		  z-index: 0;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: -100%;
		  background-color: $color-brand-darken;
		}
	}

	.breadcrumbs {
		position: relative;
		z-index: 1;
		padding-right: 1rem;
	}
}

@include breakpoint(large) {
	.header.has-banner {
		.header-banner {
			height: rem-calc(374);
		}
	}
}

/*
 * footer
 */


.footer {
	@extend .max-page-width;
	border-top: solid $color-shade 2px;
	margin-top: $pad;
	padding-top: $space;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	
	.logo-wrapper {
		max-width: 10em;
		margin-right: $space;
	}
}


//Footer Nav
.nav-footer {

}

.copyright {
}
