/*
 * teaser.mustache
 */

.teaser {

	position: relative;
	@include clearfix;
	
	border: solid 1px $color-shade;
	
	padding: $pad;
	
  .superhead {
    font-size: .9em;
    text-transform: uppercase;
  }
  .headline {
	  color: $color-primary;
    font: bold 1.6em $font-secondary;
  }
  .subhead {
    font: bold 1.2em $font-secondary;
	  margin-top: $space-half;
  }
  .blurb {
    font: normal 1em $font-accent;
	  margin-top: $space;
  }
	
	.teaser-content {
		min-height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	
	
	.headgroup, .blurb {
		flex: 1 1 auto;
	}
	
	.jumpline {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		
		margin-top: $space;
		
		flex: 1 0 auto;
		
		
		.button {
			bottom: 0;
			margin-bottom: 0;
		}
	}
	
	&.has-image {
		
		.lead-image {
			float: left;
		}
		.teaser-content {
			margin-left: calc(200px + 1rem);
		}
	}
	
	&.has-icon {
		.fa {
			font-size: 5em;
			float: left;
		}
		
		.teaser-content {
			min-height: 0;
			margin-left: 7em;
		}
	}
	
	&.has-date {
		
		.date {
			float: left;
			width: 2.5em;
			font-size: 2em;
			line-height: 1;
			
			text-align: left;
			
			padding-right: 1rem;
			border-right: solid 2px $color-secondary;
			
			.month, .day {
				display: block;
			}
			
			.month {
				color: $color-secondary;
				&::after {
					content: ".";
				}
			}
			
			.day {
				color: $color-primary;
				font-size: 1.5em;
			}
		}
		
		.teaser-content {
			min-height: 0;
			margin-left: 6em;
		}
	}
	
	&.image-overlay {
		width: 400px;
		max-width: 100%;
		height: 300px;
		overflow: hidden;
		padding: 0;
		
		position: relative;
		z-index: 0;
		
		.teaser-content {
			position: relative;
			z-index: 10;
			width: 100%;
			height: 300px;
			
			transition: 
				transform $transition-time, 
				background-color $transition-time,
				justify-content $transition-time,
				padding-top $transition-time;
			
			transform: translateY(60%);
			
			padding-top: $pad;
			padding-right: $pad;
			padding-bottom: $pad;
			padding-left: $pad;
			
			background-color: rgba($color-brand, 0.6);
			
			color: white;
			
			p, h1, h2, h3, h4, h5, h6, .headline, .subhead, .jumpline {
				color: inherit;
			}
			
		}
		
		> a, .lead-image {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}
		
		img {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		
		.jumpline, .subhead {
			opacity: 0;
			
			transition: opacity $transition-time;
		}
		
		&:hover, &:active, &:focus {
			
			.teaser-content {
				transform: translateY(0);
				background-color: rgba($color-brand, 0.8);
				padding-top: $pad * 3;
				
			}
			
			.jumpline, .subhead {
				opacity: 1;

			}
			
		}

	}
}