<!-- Begin Footer -->
<footer class="footer" role="contentinfo">

  <div class="footer-upper feathers tall-feathers">
  	<div class="row">
      <div class="small-12 medium-4 large-3 columns">
        <div class="row">
          <div class="show-for-large large-2 columns text-right">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28" height="32" viewBox="0 0 28 32">
              <path fill="#ffffff" d="M27.631 17.948l-0.236-0.709-1.181-2.952-0.118-0.59-0.118-0.472v-0.236l0.236-0.472v-0.236l-0.236-0.945v-0.827l-0.236-0.945-0.709-1.417-0.236-0.59-0.472-0.945 0.709-0.472-0.236-0.472-0.236-0.354-0.236-0.472-0.236-0.354-0.472-0.354-0.236-0.354-0.236-0.236-0.709-0.472 0.709-0.236-0.354-0.236-0.354-0.354-1.417-0.945-0.354-0.118h-0.354l-0.709-0.236-3.306-0.827h-1.417l-0.709-0.118h-1.889l-1.181 0.236-1.417 0.354-0.59 0.118-0.945 0.236-0.472 0.236-0.59 0.236-0.472 0.118-0.472 0.236-0.354 0.236-0.472 0.354-0.472 0.236-0.354 0.236-0.472 0.354-1.063 1.063-0.236 0.354-0.354 0.354-0.236 0.354-0.354 0.472-0.236 0.354-0.472 0.945-0.118 0.472-0.236 0.354-0.118 0.472-0.236 0.472-0.118 0.472v0.472l-0.236 0.945v2.007l0.236 1.889 0.236 0.945 0.354 0.945 2.362 3.897c4.133 4.133 3.897 8.266 3.897 8.266v3.306h13.816v-1.889l0.118-1.771 0.118-0.945v-0.236l0.472-0.472 0.472-0.236h3.070l0.709-0.354 0.354-0.354 0.118-0.354v-0.354l-0.236-0.236v-0.472l0.709-0.709v-0.59l-0.118-0.118-0.236-0.472-0.236-0.236-0.236-0.118 0.709-0.354 0.354-0.354v-0.236l-0.118-0.59-0.236-0.945v-0.472l0.709-0.354 0.354-0.354v-0.118l-0.118-0.354zM12.989 18.893c-0.945 0-1.535-0.709-1.535-1.653s0.709-1.653 1.535-1.653c0.945 0 1.535 0.709 1.535 1.653 0 1.063-0.59 1.653-1.535 1.653zM15.232 11.336c-0.827 0.945-1.181 1.771-1.063 2.716v0.472h-2.244v-0.59c-0.118-1.063 0.236-2.244 1.181-3.306 0.827-0.945 1.299-1.653 1.299-2.48s-0.59-1.417-1.653-1.417c-0.709 0-1.535 0.236-2.007 0.59l-0.709-1.889c0.709-0.472 1.889-0.827 3.188-0.827 2.598 0 3.661 1.417 3.661 3.070 0.118 1.535-0.827 2.598-1.653 3.661z"></path>
            </svg>
          </div>
          <div class="small-12 large-10 columns">
            <h3 class="lightweight">Contact Us</h3>
            <p>We're here to answer all of your CPS questions.</p>
            <div class="tight">
              <p>Live Chat. <a href="{{ url }}">Chat Now</a></p>
              <p>1.877.668.7727</p>
              <p><a href="mailto:{{ url }}">Email</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="small-12 medium-8 large-9 columns">
        <nav class="footer-nav">
          <ul>
            <li>
              Campuses
              <ul>
                {% for i in ['Boston', 'Charlotte', 'Seattle', 'Silicon Valley', 'Toronto'] %}
                  <li><a href="{{ url }}">{{ i }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li>
              Student Resources
              <ul>
                {% for i in ['High School & Summer Students', 'International Students', 'Military Students', 'Online Students', 'Transfer Students'] %}
                  <li><a href="{{ url }}">{{ i }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li>
              Additional Resources
              <ul>
                {% for i in ['Alumni Resources', 'Employer Resources'] %}
                  <li><a href="{{ url }}">{{ i }}</a></li>
                {% endfor %}
              </ul>
              <a href="{{ url }}" class="button button-ghost no-underline">Make a Donation</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <hr>

        <div class="text-center">
          <ul class="inline slant-separator">
            <li><strong>Northeastern University</strong></li>
            <li><a href="{{ url }}">Privacy Policy</a></li>
            <li><strong>Main Boston Campus</strong>: 50 Nightingale Hall, 360 Hungtington Ave., Boston, MA 02115-9959</li>
            <li>877.668.7727</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="footer-lower">
    <div class="row">
      <div class="small-12 medium-4 large-3 columns logo-wrapper">
        {% include "molecules-logo" %}
      </div>
      <div class="small-12 medium-8 large-9 columns">
        <nav class="footer-utility">
          <ul class="inline dot-separator">
            {% for i in ['MyNEU', 'Find Faculty & Staff', 'Find A-Z', 'Emergency Information', 'Search', 'Text Only'] %}
              <li><a href="{{ url }}">{{ i }}</a></li>
            {% endfor %}
          </ul>
        </nav>

        <div class="tight">
          <ul class="inline dot-separator">
            {% for i in ['360 Huntington Ave., Boston, Massachusetts 02115', '617.373.2000', 'TTY 617.373.3768'] %}
              <li>{{ i }}</li>
            {% endfor %}
          </ul>
          <p>&copy; 2015 Northeastern University</p>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- End Footer -->
