<!-- Begin .header -->
<header class="header cf {{ styleClass }}" role="banner">
  {% include "molecules-header-utility" %}
  <div class="row">
  	<div class="small-12 columns">
      <div class="logo-title-wrapper clearfix">
        <div class="logo-wrapper">{% include "molecules-logo" %}</div>
        <h1>New Student Orientation</h1>
      </div>
    </div>
  </div>
  <div id="header-nav-wrapper" class="header-nav-wrapper" data-toggler=".menu-expanded">
    {% if header.background %}
      <div class="background-image">
        <div class="desaturate" style="background-image: url({{ header.background }});"></div>
      </div>
    {% endif %}
    <div class="text-center hide-for-menu">
      <a href="#" class="button button-ghost" data-toggle="header-nav-wrapper">Menu</a>
    </div>
    <div id="main-nav-wrapper" class="header-nav show-for-menu">
      {% include "molecules-main-nav" %}
    </div>
    {% if header.title %}
      <div class="row">
        <div class="small-12 columns header-title text-center">
          <h2>{{ header.title }}</h2>
          {% if header.subtitle %}
            <div class="intro">
              <p>{{ header.subtitle }}</p>
            </div>
          {% endif %}
          <div class="icon-decoration-wrapper">
            <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <path d="M1683 808l-742 741q-19 19-45 19t-45-19l-742-741q-19-19-19-45.5t19-45.5l166-165q19-19 45-19t45 19l531 531 531-531q19-19 45-19t45 19l166 165q19 19 19 45.5t-19 45.5z"/>
            </svg>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</header>
<!-- End .header -->
