.come-in {
	transform: translateY(rem-calc(200));
	animation: come-in 1s ease forwards;
	@include breakpoint(medium) {
		animation: come-in 2s ease forwards;
		transform: translateY(rem-calc(400));
	}
}
.already-visible {
	transform: translateY(0);
	animation: none;
}

@keyframes come-in {
	to { transform: translateY(0); }
}