
// feather decoration at the bottom of callouts
%pseudo-feathers {
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .5rem;
    background-image: image-url('feather.png');
    background-repeat: repeat;
    content: '';
    opacity: .2;
  }
}

.feathers {
  @extend %pseudo-feathers;
  &.tall-feathers {
    &:after {
      height: 1rem;
    }
  }
}

.textured {
  background-image: image-url('texture.png');
  background-repeat: repeat;
}

// a gradient up from the lower left
%corner-shade {
  background-image: linear-gradient(to right top, rgba(black, .8) 0%, rgba(black, .1) 40%, transparent 60%);
}

.piped {
  border-left: 3px solid $color-brand;
  padding-left: 1.5rem;
  &.complement {
    border-color: $color-brand-complement-light;
  }
}

.piped-columns {
  .column:not(:last-child), .columns:not(:last-child) {
    border-right: 1px solid $color-shade-light;
  }
  .bg-primary & {
    .column:not(:last-child), .columns:not(:last-child) {
      border-right: 1px solid $white;
    }
  }
}

.icon-circle-wrapper {
    float: left;
    position: relative;
    padding-right: 1rem;
    &::before {
      content: '';
      position: absolute;
      border: 2px solid $color-accent-senary;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      transform: translate(-25%, -20%);
    }
    svg {
      height: 1rem;
      width: 1rem;
      path {
        fill: $color-primary;
      }
    }
  }

