/* -------------------------------------------------------------- */
/*    Atoms - Global
/* -------------------------------------------------------------- */


/* Colors
/* set color values in the vars file
/* ideally, none of these swatch classes should need to be touched
/* _______________________________________________________________ */
ul.sg-colors li {
   background-color: #fff;
}

// primaries
.bg-primary {
   background-color: $color-primary;
}
.fg-primary {
  color: $color-primary;
}
.bg-secondary {
   background-color: $color-secondary;
}
.bg-tertiary {
   background-color: $color-tertiary;
}
.bg-quaternary {
   background-color: $color-quaternary;
}
.bg-quinary {
   background-color: $color-quinary;
}
.bg-senary {
   background-color: $color-senary;
}
.bg-septenary {
   background-color: $color-septenary;
}
.bg-octonary {
   background-color: $color-octonary;
}
.bg-nonary {
   background-color: $color-nonary;
}
.bg-denary {
   background-color: $color-denary;
}

// accents
.bg-accent-primary {
   background-color: $color-accent-primary;
}
.bg-accent-secondary {
   background-color: $color-accent-secondary;
}
.bg-accent-tertiary {
   background-color: $color-accent-tertiary;
}
.bg-accent-quaternary {
   background-color: $color-accent-quaternary;
}
.bg-accent-quinary {
   background-color: $color-accent-quinary;
}
.bg-accent-senary {
   background-color: $color-accent-senary;
}
.bg-accent-septenary {
   background-color: $color-accent-septenary;
}
.bg-accent-octonary {
   background-color: $color-accent-octonary;
}
.bg-accent-nonary {
   background-color: $color-accent-nonary;
}
.bg-accent-denary {
   background-color: $color-accent-denary;
}

// grays & shades
.bg-shade-lightest {
   background-color: $color-shade-light;
}
.bg-shade-lighter {
   background-color: $color-shade-light;
}
.bg-shade-light {
   background-color: $color-shade-light;
}
.bg-shade {
   background-color: $color-shade;
}
.bg-shade-dark {
   background-color: $color-shade-dark;
}
.bg-shade-darker {
   background-color: $color-shade-dark;
}
.bg-shade-darkest {
   background-color: $color-shade-dark;
}

.color-inversion, .color-reverse {
  * {
   color: $white;
  }
}

.bg-dark {
  background-color: $black;
}
.bg-white {
  background-color: $white;
}
.bg-transparent {
  background-color: transparent;
  color: $white;
}
.bg-light {
  background-color: $color-light-background;
}
.bg-brand {
  background-color: $color-brand;
  color: $white;
}
.bg-gray {
  background-color: $gray;
  color: $black;
}
.bg-complement {
  background-color: $color-brand-complement;
  color: $white;
}
.bg-alpha {
  $alphac: .8;
  &.bg-dark {
    background-color: rgba($black, $alphac);
    color: $white;
  }
  &.bg-white {
    background-color: rgba($white, $alphac);
  }
  &.bg-light {
    background-color: rgba($color-light-background, $alphac);
  }
  &.bg-brand {
    background-color: rgba($color-brand, $alphac);
    color: $white;
  }
  &.bg-gray {
    background-color: rgba($gray, $alphac);
    color: $black;
  }
  &.bg-complement {
    background-color: rgba($color-brand-complement, $alphac);
    color: $white;
  }
}


/* Fonts
/* _______________________________________________________________ */

// font families
.font-primary {
   font-family: $font-primary
}
.font-secondary {
   font-family: $font-secondary;
}

// font sizes
.font-size-smallest {
   font-size: $font-size-smallest;
}
.font-size-smaller {
   font-size: $font-size-smaller;
}
.font-size-small {
   font-size: $font-size-small;
}
.font-size-default {
   font-size: $font-size-default;
}
.font-size-large {
   font-size: $font-size-large;
}
.font-size-larger {
   font-size: $font-size-larger;
}
.font-size-largest {
   font-size: $font-size-largest;
}

 /*------------------------------------*\
   $GLOBAL CLASSES
 \*------------------------------------*/

/* Completely remove from the flow but leave available to screen readers. */
.show-for-screenreaders {
   position: absolute !important;
   overflow: hidden;
   width: 1px;
   height: 1px;
   padding: 0;
   border: 0;
   clip: rect(1px, 1px, 1px, 1px);
 }

.text-replace {
   display: inline-block;
   font-size: 0 !important;
}

.right {
  float: right;
}

// for overlays
%cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
 }
%pseudo-cover {
  @extend %cover;
  content: '';
  display: block;
}

.desaturate {
  filter: grayscale(100%);
}

p.tight, 
.tight p,
.tight > ul {
  margin-bottom: 0;
}


/*
 * animations
*/

.animate-fade {
	transition: opacity $transition-time ease-out;

	&:hover {
		opacity: 0;
	}
}

.animate-move {
	> .demo-shape {
		transition: all $transition-time-slow ease-in-out;
	}
}
