.max-page-width {
	max-width: $global-width;
	margin-right: auto;
	margin-left: auto;
	padding-left: $pad;
	padding-right: $pad;
}

.main > * {
	max-width: $global-width;
	margin-right: auto;
	margin-left: auto;
	padding-left: $pad;
	padding-right: $pad;
}

.bleed {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.fill-width {
	padding-left: 0;
	padding-right: 0;
}


// Foundation grid tweaks

.fill-width {
	.column, .columns {
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}
	}
}

.row.collapse-outer > .column,
.row.collapse-outer > .columns {
	@include grid-padding;
	
	&:last-of-type {
		padding-right: 0;
	}
}

.article-wrapper {
	padding-top: 2rem;
}

.header {
  position: relative;
  z-index: 10;
}

.content {
  position: relative;
  z-index: 1;
}

/* Clearfix */
 .clearfix {
   *zoom: 1;
 }
 .clearfix:before, .cf:after {
   content: " "; /* 1 */
   display: table; /* 2 */
 }

 .clearfix:after {
   clear: both;
 }

 .space-below {
   margin-bottom: $space;
   &.more {
     margin-bottom: $space-double;
   }
   &.lots {
     margin-bottom: 4*$space;
   }
 }

.space-above {
  margin-top: $space;
  &.more {
    margin-top: $space-double;
  }
  &.lots {
    margin-top: 4*$space;
  }
}

.pad-above {
  padding-top: $space;
  &.more {
    padding-top: 2*$space;
  }
  &.lots {
    padding-top: 4*$space;
  }
}

.pad-below {
  padding-bottom: $space;
  &.more {
    padding-bottom: 2*$space;
  }
  &.lots {
    padding-bottom: 4*$space;
  }
}

.tight, 
.tight > * {
	margin-bottom: 0;
}
div.tight {
	margin-bottom: 1rem;
}

.section-padding {
	padding-top: 2*$space;
	padding-bottom: 2*$space;
	@include breakpoint(large) {
		padding-top: 4*$space;
		padding-bottom: 4*$space;
	}
}

.section-padding-tight {
	@extend .space-above;
	@extend .more;
}

.flex-vertical-center {
	display: flex;
	> div {
		display: flex;
		align-items: center;
	}
}
.flex-vertical-center-medium {
	@include breakpoint(medium) {
		display: flex;
		> div {
			display: flex;
			align-items: center;
		}
	}
}

// responsive flex cols
@mixin flex-cols($size, $n) {
	.#{$size}-flex-#{$n} {
		column-count: $n;
		overflow: hidden;
		> * {
			break-inside: avoid;
		}
	}
}

@each $cols in 1, 2, 3, 4, 5 {
	@include flex-cols(small, $cols);
	@include breakpoint(medium) {
		@include flex-cols(medium, $cols);
	}
	@include breakpoint(large) {
		@include flex-cols(large, $cols);
	}
}