/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

// generate the image url by prefixing the layout image path
@function image-url($url) {
  @return url("#{$image-url-path}#{$url}");
}

// generate the font url by prefixing
@function font-url($url) {
  @return url("#{$font-url-path}#{$url}");
}

// style input placeholders
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder           {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin grid-margin {
	@each $breakpoint, $value in $grid-column-responsive-gutter {
    $margin: rem-calc($value) / 2 * -1;
    @include breakpoint($breakpoint) {
      margin-left: $margin;
      margin-right: $margin;
    }
  }
}

@mixin grid-padding {
	@each $breakpoint, $value in $grid-column-responsive-gutter {
    $margin: rem-calc($value) / 2;
    @include breakpoint($breakpoint) {
      padding-left: $margin;
      padding-right: $margin;
    }
  }
}