/* -------------------------------------------------------------- */
/*    Variables
/* -------------------------------------------------------------- */


/* Colors
/* remember to turn off any unused swatches in atoms>global>colors.mustache
/* _______________________________________________________________ */

$color-undefined: #e31ace;

// Brand Color Palette: primaries
$color-primary: #cc2537;
$color-secondary: #534b3f;
$color-tertiary: #636363;
$color-quaternary: #ece7e2;
$color-quinary: #eae5e0;
$color-senary: #45413b;
$color-septenary: $color-undefined;
$color-octonary: $color-undefined;
$color-nonary: $color-undefined;
$color-denary: $color-undefined;

// Brand Color Palette: accents
$color-accent-primary: #9d212f;
$color-accent-secondary: #b9ab95;
$color-accent-tertiary: #87a326;
$color-accent-quaternary: #e4dfd8;
$color-accent-quinary: #ded7ce;
$color-accent-senary: #dadada;
$color-accent-septenary: #312e2a;
$color-accent-octonary: #e3ff80;
$color-accent-nonary: #aac158;
$color-accent-denary: $color-undefined;

// Grays / Shades / Support Colors
$color-shade-lightest: #f3f3f3;
$color-shade-light: #d2d9e4;
$color-shade: #c2c2c2;
$color-shade-dark: #a1a1a1;
$color-shade-darker: #868686;
$color-shade-darkest: #2d2d2d;


// Utility Colors
$color-bg: $color-shade-lightest;
$color-border: $color-undefined;
// add more here as needed


$gray : #696969;
$light-gray: rgba(235, 235, 235, 0.5);
$dark-gray: #535353;

$white : #fff;
$black : #000;

$color-brand: $color-primary;
$color-brand-darken: darken($color-brand, 0.25);
$color-dark-overlay: rgba(0, 0, 0, 0.64);

$color-light-background: #f2f0e8;
$color-light-border: #e5d7aa;

$color-brand-complement: #a5884a;
$color-brand-complement-light: #ac9b7a;

$color-big-headings: $color-senary;
$color-dark-background: $color-accent-septenary;


/* Typography
/* _______________________________________________________________ */

// Setup font families
$font-primary : 'Open Sans', sans-serif;
$font-secondary : 'Roboto Slab', serif;

// Set font variables, if any
$font-accent: $font-secondary;

// Font sizing
$base-font-size: 16px;

$font-size-smallest: 0.65em;
$font-size-smaller: 0.75em;
$font-size-small: 0.875em;
$font-size-default: 1em;
$font-size-large: 1.125em;
$font-size-larger: 2.0rem;
$font-size-largest: 2.625rem;


/* Paths
/* _______________________________________________________________ */
$image-url-path: "../images/";
$font-url-path: "../fonts/";

//Layout
$max-width: 72em;

//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

$negative-bleed: -9999px;

//Borders
$border-med: 3px;
$border-thick: 7px;

// animations
$transition-time: .3s;
$transition-time-slow: .8s;

$quick-transition: $transition-time ease-in-out;
$slow-transition: $transition-time-slow ease-in-out;

// breadcrumbs
$crumb-border-size: 0;
$crumb-border-style: none;
$crumb-radius: 0;


// Header
$homepage-header-height: 177;
