.show {
	display: inherit !important;
}
$sizes: medium menu large;
@each $size in $sizes {
	.show-for-#{$size} {
		display: none;
		@include breakpoint(#{$size}) {
			display: inherit;
		}
	}
	.hide-for-#{$size} {
		@include breakpoint(#{$size}) {
			display: none;
		}
	}
}