<p>This is a demonstration of functionality only. Don't drop this partial directly into another partial or template -- it's unlikely to match your desired layout.</p>

<p>This script is hand-written and extremely limited. For instance, each page can only contain one list and one input. There is probably a plugin that can replace it.</p>

<p>To use this feature, create an input field with the class <code>.live-search-box</code> and a list with the class <code>live-search-list</code>. They do not need to be adjacent; one example might be to put the input box into a sidebar and the list in the main content of the page. Be sure to load <code>live-search.js</code> to your page and call <code>liveSearch.init()</code> from within your page's <code>$(document).ready()</code> (located in <code>main.js / main.coffee</code> in this pattern library).</p>

<div id="live-search-wrapper">
    <input type="text" class="live-search-box" placeholder="search here" />

      <ul class="live-search-list">

       {% for i in 1..10 %}
        <li><span class="name">{{ name.first }} {{ name.last }}</span></li>
        {% endfor %}
    </ul>
</div>
