<div class="off-canvas-wrapper">
    <main class="main off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left" id="unique-ID-left" data-off-canvas data-position="left">
            <h2>Off-Canvas Slider (Left)</h2>
            <p>An off-canvas slider can include just about any content you want.</p>
        </div>
        
        <div class="off-canvas position-right" id="unique-ID-right" data-off-canvas data-position="right">
            <h2>Off-Canvas Slider (Right)</h2>
            <p>Here is a simple menu:</p>
            {% include "molecules-navigation-list" %}
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
            <h1>Off Canvas Component</h1>
            
            <div class="clearfix">
                <a type="button" class="button float-left" data-toggle="unique-ID-left" href="#">Open Left Slider</a>
                
                <a type="button" class="button float-right" data-toggle="unique-ID-right" href="#">Open Right Slider</a>
            </div>
            
            <p>Off-canvas components are usually used for hiding navigation menus on small screens, but you can put anything in them that you want.</p>
            <p>This implementation uses the Off Canvas component from Zurb's Foundation for Sites version 6. For more details, consult the full <a href="http://foundation.zurb.com/sites/docs/off-canvas.html" target="_blank">Off Canvas Navigation documentation</a> on Zurb's site (right-click and open in new window or tab).</p>
            
            <p>Formatting should be controlled by variables in <code>_foundation-settings.scss</code> as much as possible.</p>
            <p><a href="http://foundation.zurb.com/sites/docs/off-canvas.html#sass-variables" target="_blank">Off-canvas variable options</a> (right-click and open in new window or tab)</p>
        </div>

    </main>
</div>