<form action="{{ url }}" method="post" class="inline-form search-form inner-button">           
    <fieldset>
	    <legend class="is-vishidden">Search</legend>
	    <label for="search-field" class="is-vishidden">Search</label>
	    <input type="search" placeholder="Search" id="search-field" class="search-field" />
	    <!-- "button-wrapper" div is NOT required for inner button version, but it should be here if you might want to toggle between inner and standard button arrangements -->
	    	<div class="button-wrapper">
				<button class="search-submit button">
					<span>Search</span>
				</button>
		</div>
    </fieldset>
</form>