<form action="{{ url }}" method="post" class="inline-form search-form">           
    <fieldset>
	    <div>
	    	<legend class="is-vishidden">Search</legend>
	    	<label for="search-field" class="is-vishidden">Search</label>
	    	<input type="search" placeholder="Search" id="search-field" class="search-field" />
	    	<!-- "button-wrapper" div is required because button elements won't respect flex positioning on their own -->
	    	<div class="button-wrapper">
	    		<button class="search-submit button">
	    			<span>Search</span>
	    		</button>
	    	</div>
	    </div>
    </fieldset>
</form>