<section class="profile">

	{% include "organisms-profile-header" %}

	<div class="profile-body">

		<div class="heading beta">Biography</div>
		<p>Lorem ipsum dolor sit amet, minim molestie argumentum est at, pri legere torquatos instructior ex. Vis id odio atomorum oportere, quem modo fabellas sit at, dicat semper est ne. Apeirian detraxit pri eu. No solum accusam has. Ius ne harum mundi clita, eu pro tation audiam.</p>

		<p>Id vis sumo voluptatum, his an pericula erroribus, ad pri laudem verear. Per idque aperiri ea, illud accusam imperdiet cu sed. Sea vitae deserunt ei, vim at erant vituperata. Ea idque congue vocibus mea, virtute lobortis deseruisse mea ut. Et populo prompta pertinax ius. Ut eam audire regione, audiam interesset consequuntur eu eos.</p>

		<div class="heading beta">Publications</div>

		<ul class="publication-list">
		{% for i in 0..8 %}
			<li>{{ publication|raw }}</li>
		{% endfor %}
		</ul>

	</div>
</section>
