<nav class="header-utility">
  <div class="row">
    <div class="small-12 columns">
      <ul class="inline pipe-separator">
        <li><a href="{{ url }}">Back to CPS Website</a></li>
        <li><a href="{{ url }}">Student Resources</a></li>
      </ul>
    </div>
  </div>
</nav>