<nav id="main-nav" class="main-nav">
  <ul>
    {% for i in ['The Basics', 'Support', 'Learning Online', 'Learning on-Campus', 'International Students'] %}
      <li {% if i == 'The Basics' %}class="active"{% endif %}>
        <a href="{{ fakeUrl }}">{{ i }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>