<nav class="nav {{ styleModifier }}">
	<ul>
		<li><a href="{{ url }}">{{ name.first }}</a></li>
		<li><a href="{{ url }}" class="is-active">{{ name.first }}</a></li>
		<li><a href="{{ url }}">{{ name.first }}</a></li>
	</ul>
</nav><!--end .nav-->
