<nav class="nav nav-section-group {{ styleModifier }}">
	<div class="nav-section">
		<div class="nav-header delta">
			Section Title
		</div>
		<ul>
			<li><a href="{{ url }}">Home</a></li>
			<li><a href="{{ url }}" class="active">About</a></li>
			<li><a href="{{ url }}">Blog</a></li>
			<li><a href="{{ url }}">Contact</a></li>
		</ul>
	</div>

	<div class="nav-section">
		<div class="nav-header delta">
			Another Section Title
		</div>
		<ul>
			<li><a href="{{ url }}">First link</a></li>
			<li><a href="{{ url }}" class="active">Longer section link</a></li>
			<li><a href="{{ url }}">Come and see what’s behind this link</a></li>
			<li><a href="{{ url }}">Never mind; links are fake</a></li>
		</ul>
	</div>
</nav><!--end .nav-->
