<nav class="nav nav-section-group accordion {{ styleModifier }}" data-accordion="accordion-XXXXX" role="tablist">
	<div class="nav-section accordion-item is-active" data-accordion-item>
		<a class="nav-header delta accordion-title" href="#section1">
			Section Title
		</a>
		<ul id="section1" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="section1-heading">
			<li><a href="{{ url }}">Home</a></li>
			<li><a href="{{ url }}" class="is-active">About</a></li>
			<li><a href="{{ url }}">Blog</a></li>
			<li><a href="{{ url }}">Contact</a></li>
		</ul>
	</div>

	<div class="nav-section accordion-item" data-accordion-item>
		<a class="nav-header delta accordion-title" href="#section1">
			Another Section Title
		</a>
		<ul id="section1" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="section1-heading">
			<li><a href="{{ url }}">First link</a></li>
			<li><a href="{{ url }}" class="active">Longer section link</a></li>
			<li><a href="{{ url }}">Come and see what’s behind this link</a></li>
			<li><a href="{{ url }}">Never mind; links are fake</a></li>
		</ul>
	</div>
</nav><!--end .nav-->
