<h3>List-based Navigation</h3>
{% include "molecules-navigation-list" %}

<h3>List-free Navigation</h3>
{% include "molecules-navigation-list-free" %}


<h3>Primary Navigation</h3>

<h4>List-based</h4>

<div class="bg-dark">
{% include "molecules-navigation-list" with {'styleModifier' : 'nav-primary'} %}
</div>
{% include "molecules-navigation-list" with {'styleModifier' : 'nav-primary'} %}

<h4>List-free</h4>
<div class="bg-dark">
{% include "molecules-navigation-list-free" with {'styleModifier' : 'nav-primary'} %}
</div>
{% include "molecules-navigation-list-free" with {'styleModifier' : 'nav-primary'} %}

<h3>Utility Navigation</h3>
<h4>List-based</h4>
<div class="bg-dark">
{% include "molecules-navigation-list" with {'styleModifier' : 'nav-utility'} %}
</div>
{% include "molecules-navigation-list" with {'styleModifier' : 'nav-utility'} %}

<h4>List-free</h4>
<div class="bg-dark">
{% include "molecules-navigation-list-free" with {'styleModifier' : 'nav-utility'} %}
</div>
{% include "molecules-navigation-list-free" with {'styleModifier' : 'nav-utility'} %}
