<p class="hide">Invisible</p>
<p><small>Two states, <code>hide</code> and <code>show-for-sr</code>, are completely invisible here if you are not using a screen reader.</small></p>
<p class="show-for-sr">Visible only to screen readers.</p>
<p aria-hidden="true">Invisible to screen readers (Do this for purely visual elements only.)</p>

<h3><code>show-for</code></h3>
<p>All sizes</p>
<p class="show-for-medium">At least medium</p>
<p class="show-for-large">At least large</p>
<p class="show-for-small-only">Small only</p>
<p class="show-for-medium-only">Medium only</p>
<p class="show-for-large-only">Large only</p>

<h3><code>hide-for</code></h3>
<p class="hide-for-medium">At least medium</p>
<p class="hide-for-large">At least large</p>
<p class="hide-for-small-only">Small only</p>
<p class="hide-for-medium-only">Medium only</p>
<p class="hide-for-large-only">Large only</p>

<p><small>These class rules are limiting; SASS functions offer more options. See <a href="http://foundation.zurb.com/sites/docs/visibility.html#sass-reference">Foundation Visibility SASS reference.</a></small></p>
