<div class="demo">
  <!--foundation 3 col grid-->
  <div class="row">
    <div class="small-12 medium-3 columns">
      <div class="text-center bg-brand">1/4</div>
    </div>
     <div class="small-12 medium-3 columns">
      <div class="text-center bg-brand">2/4</div>
    </div>
    <div class="small-12 medium-3 columns">
      <div class="text-center bg-brand">3/4</div>
    </div>    
    <div class="small-12 medium-3 columns">
      <div class="text-center bg-brand">4/4</div>
    </div>
  </div>
</div>