<div class="demo">
	<!--foundation 1 col grid-->
	<div class="row">
    <div class="small-12 columns">
		  <div class="text-center bg-brand">1/1</div>
    </div>
	</div>
	<!--End Grid 1up-->		
</div><!--end .demo-->