<div class="demo">
	<!--foundation 6 col grid-->
	<div class="row">
    <div class="small-12 medium-6 columns">
      <div class="text-center bg-brand">1/2</div>
    </div>
     <div class="small-12 medium-6 columns">
      <div class="text-center bg-brand">2/2</div>
    </div>
  </div>
</div>