{# COLORS #}
{# comment out any swatches not needed by your palette #}

<h6>Primary Colors</h6>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-primary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-secondary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-tertiary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-quaternary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-quinary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-senary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-septenary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-octonary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-nonary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-denary"></span>
	</li>
</ul>

<h6>Accent Colors</h6>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-accent-primary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-accent-secondary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-accent-tertiary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-accent-quaternary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-accent-quinary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-accent-senary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-accent-septenary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-accent-octonary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-accent-nonary"></span>
	</li>
	<li>
		<span class="sg-swatch bg-accent-denary"></span>
	</li>
</ul>

<h6>Grays and Shades</h6>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-shade-lightest"></span>
	</li>
	<li>
		<span class="sg-swatch bg-shade-lighter"></span>
	</li>
	<li>
		<span class="sg-swatch bg-shade-light"></span>
	</li>
	<li>
		<span class="sg-swatch bg-shade"></span>
	</li>
	<li>
		<span class="sg-swatch bg-shade-dark"></span>
	</li>
	<li>
		<span class="sg-swatch bg-shade-darker"></span>
	</li>
	<li>
		<span class="sg-swatch bg-shade-darkest"></span>
	</li>
</ul>
