<p>Primary font: {{ fonts.font_primary }}</p>
<p><em>Primary font, italic: {{ fonts.font_primary }}</em></p>
<p><strong>Primary font, bold: {{ fonts.font_primary }}</strong></p>
<br />

<p class="font-secondary">Secondary font: {{ fonts.font_secondary }}</p>
<p class="font-secondary"><em>Secondary font, italic: {{ fonts.font_secondary }}</em></p>
<p class="font-secondary"><strong>Secondary font, bold: {{ fonts.font_secondary }}</strong></p>
<br />

<p class="font-tertiary">Tertiary font: {{ fonts.font_tertiary }}</p>
<p class="font-tertiary"><em>Tertiary font, italic: {{ fonts.font_tertiary }}</em></p>
<p class="font-tertiary"><strong>Tertiary font, bold: {{ fonts.font_tertiary }}</strong></p>
