<p class="font-size-smallest">Primary font, smallest size: {{ fonts.font_primary }} </p>
<p class="font-size-smaller">Primary font, smaller size: {{ fonts.font_primary }}</p>
<p class="font-size-small">Primary font, small size: {{ fonts.font_primary }}</p>
<p class="font-size-default">Primary font, default size: {{ fonts.font_primary }}</p>
<p class="font-size-large">Primary font, large size: {{ fonts.font_primary }}</p>
<p class="font-size-larger">Primary font, larger size: {{ fonts.font_primary }}</p>
<p class="font-size-largest">Primary font, largest size: {{ fonts.font_primary }}</p>
<br />

<p class="font-size-smallest"><em>Primary font, smallest size, italic: {{ fonts.font_primary }}</em></p>
<p class="font-size-smaller"><em>Primary font, smaller size, italic: {{ fonts.font_primary }}</em></p>
<p class="font-size-small"><em>Primary font, small size, italic: {{ fonts.font_primary }}</em></p>
<p class="font-size-default"><em>Primary font, default size, italic: {{ fonts.font_primary }}</em></p>
<p class="font-size-large"><em>Primary font, large size, italic: {{ fonts.font_primary }}</em></p>
<p class="font-size-larger"><em>Primary font, larger size, italic: {{ fonts.font_primary }}</em></p>
<p class="font-size-largest"><em>Primary font, largest size, italic: {{ fonts.font_primary }}</em></p>
<br />

<p class="font-size-smallest"><strong>Primary font, smallest size, bold: {{ fonts.font_primary }}</strong></p>
<p class="font-size-smaller"><strong>Primary font, smaller size, bold: {{ fonts.font_primary }}</strong></p>
<p class="font-size-small"><strong>Primary font, small size, bold: {{ fonts.font_primary }}</strong></p>
<p class="font-size-default"><strong>Primary font, default size, bold: {{ fonts.font_primary }}</strong></p>
<p class="font-size-large"><strong>Primary font, large size, bold: {{ fonts.font_primary }}</strong></p>
<p class="font-size-larger"><strong>Primary font, larger size, bold: {{ fonts.font_primary }}</strong></p>
<p class="font-size-largest"><strong>Primary font, largest size, bold: {{ fonts.font_primary }}</strong></p>
<br />


<p class="font-secondary font-size-smallest">Secondary font, smallest size: {{ fonts.font_secondary }}</p>
<p class="font-secondary font-size-smaller">Secondary font, smaller size: {{ fonts.font_secondary }}</p>
<p class="font-secondary font-size-small">Secondary font, small size: {{ fonts.font_secondary }}</p>
<p class="font-secondary font-size-default">Secondary font, default size: {{ fonts.font_secondary }}</p>
<p class="font-secondary font-size-large">Secondary font, large size: {{ fonts.font_secondary }}</p>
<p class="font-secondary font-size-larger">Secondary font, larger size: {{ fonts.font_secondary }}</p>
<p class="font-secondary font-size-largest">Secondary font, largest size: {{ fonts.font_secondary }}</p>
<br />

<p class="font-secondary font-size-smallest"><em>Secondary font, smallest size, italic: {{ fonts.font_secondary }}</em></p>
<p class="font-secondary font-size-smaller"><em>Secondary font, smaller size, italic: {{ fonts.font_secondary }}</em></p>
<p class="font-secondary font-size-small"><em>Secondary font, small size, italic: {{ fonts.font_secondary }}</em></p>
<p class="font-secondary font-size-default"><em>Secondary font, default size, italic: {{ fonts.font_secondary }}</em></p>
<p class="font-secondary font-size-large"><em>Secondary font, large size, italic: {{ fonts.font_secondary }}</em></p>
<p class="font-secondary font-size-larger"><em>Secondary font, larger size, italic: {{ fonts.font_secondary }}</em></p>
<p class="font-secondary font-size-largest"><em>Secondary font, largest size, italic: {{ fonts.font_secondary }}</em></p>
<br />

<p class="font-secondary font-size-smallest"><strong>Secondary font, smallest size, bold: {{ fonts.font_secondary }}</strong></p>
<p class="font-secondary font-size-smaller"><strong>Secondary font, smaller size, bold: {{ fonts.font_secondary }}</strong></p>
<p class="font-secondary font-size-small"><strong>Secondary font, small size, bold: {{ fonts.font_secondary }}</strong></p>
<p class="font-secondary font-size-default"><strong>Secondary font, default size, bold: {{ fonts.font_secondary }}</strong></p>
<p class="font-secondary font-size-large"><strong>Secondary font, large size, bold: {{ fonts.font_secondary }}</strong></p>
<p class="font-secondary font-size-larger"><strong>Secondary font, larger size, bold: {{ fonts.font_secondary }}</strong></p>
<p class="font-secondary font-size-largest"><strong>Secondary font, largest size, bold: {{ fonts.font_secondary }}</strong></p>
<br />


<p class="font-tertiary font-size-smallest">Tertiary font, smallest size: {{ fonts.font_tertiary }}</p>
<p class="font-tertiary font-size-smaller">Tertiary font, smaller size: {{ fonts.font_tertiary }}</p>
<p class="font-tertiary font-size-small">Tertiary font, small size: {{ fonts.font_tertiary }}</p>
<p class="font-tertiary font-size-default">Tertiary font, default size: {{ fonts.font_tertiary }}</p>
<p class="font-tertiary font-size-large">Tertiary font, large size: {{ fonts.font_tertiary }}</p>
<p class="font-tertiary font-size-larger">Tertiary font, larger size: {{ fonts.font_tertiary }}</p>
<p class="font-tertiary font-size-largest">Tertiary font, largest size: {{ fonts.font_tertiary }}</p>
<br />

<p class="font-tertiary font-size-smallest"><em>Tertiary font, smallest size, italic: {{ fonts.font_tertiary }}</em></p>
<p class="font-tertiary font-size-smaller"><em>Tertiary font, smaller size, italic: {{ fonts.font_tertiary }}</em></p>
<p class="font-tertiary font-size-small"><em>Tertiary font, small size, italic: {{ fonts.font_tertiary }}</em></p>
<p class="font-tertiary font-size-default"><em>Tertiary font, default size, italic: {{ fonts.font_tertiary }}</em></p>
<p class="font-tertiary font-size-large"><em>Tertiary font, large size, italic: {{ fonts.font_tertiary }}</em></p>
<p class="font-tertiary font-size-larger"><em>Tertiary font, larger size, italic: {{ fonts.font_tertiary }}</em></p>
<p class="font-tertiary font-size-largest"><em>Tertiary font, largest size, italic: {{ fonts.font_tertiary }}</em></p>
<br />

<p class="font-tertiary font-size-smallest"><strong>Tertiary font, smallest size, bold: {{ fonts.font_tertiary }}</strong></p>
<p class="font-tertiary font-size-smaller"><strong>Tertiary font, smaller size, bold: {{ fonts.font_tertiary }}</strong></p>
<p class="font-tertiary font-size-small"><strong>Tertiary font, small size, bold: {{ fonts.font_tertiary }}</strong></p>
<p class="font-tertiary font-size-default"><strong>Tertiary font, default size, bold: {{ fonts.font_tertiary }}</strong></p>
<p class="font-tertiary font-size-large"><strong>Tertiary font, large size, bold: {{ fonts.font_tertiary }}</strong></p>
<p class="font-tertiary font-size-larger"><strong>Tertiary font, larger size, bold: {{ fonts.font_tertiary }}</strong></p>
<p class="font-tertiary font-size-largest"><strong>Tertiary font, largest size, bold: {{ fonts.font_tertiary }}</strong></p>
<br />
