<section class="section latest-posts">
	<h2 class="section-title">Latest Posts</h2>
	<ul class="post-list">
		<li>{% include "molecules-media-block" %}</li>
		<li>{% include "molecules-media-block" %}</li>
		<li>{% include "molecules-media-block" %}</li>
		<li>{% include "molecules-media-block" %}</li>
		<li>{% include "molecules-media-block" %}</li>
	</ul>
	<a href="#" class="text-btn">View more posts</a>
</section>