<section class="section related-posts">
	<h3 class="section-title">Recent Tweets</h3>
	<ul class="headline-list">
		<li><h4><a href="#">Headline Lorem ipsum dolor sit amet</a></h4> {% include "atoms-time" %}</li>
		<li><h4><a href="#">Laborum, molestiae, rerum, dolores eveniet </a></h4> {% include "atoms-time" %}</li>
		<li><h4><a href="#">quae est fugit distinctio iure odit minus non ipsum </a></h4> {% include "atoms-time" %}</li>
		<li><h4><a href="#">dolorum deserunt omnis voluptates voluptatum</a></h4> {% include "atoms-time" %}</li>
		<li><h4><a href="#">nventore dignissimos vel molestiae, rerum, dolore</a></h4> {% include "atoms-time" %}</li>
		<li><h4><a href="#"></a></h4></li>
	</ul>
	<a href="#" class="text-btn">Follow us on Twitter</a>
</section>