<div class="row" data-equalizer data-equalize-on="medium">
	{% for i in 0..2 %}
		{% include "molecules-block-callout" with { "styleClass": callout.list[i].styleClass, "equalize": true, "callout": callout.list[i] } %}
	{% endfor %}
</div>
