<div class="time-estimates space-above more">
	<section class="bg-green textured color-reverse">
		<div class="row">
			<div class="small-12 medium-7 medium-centered columns">
				{% include "molecules-task-block" with {
					"time": "26 minutes",
					"title": "Getting Started",
					"subtitle": "The Basics",
					"body": "Gain access to password protected areas, setup your email and find out how to register for classes.",
					"links": [ "Quick Start Guide", "New Student Checklist" ],
					"buttons": [ "Start with the Basics", "International Students" ] 
				}
				%}
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-7 medium-centered columns">
				{% include "molecules-task-block" with {
					"time": "14 minutes",
					"title": "Finding support along the way",
					"body": "Everything from advising to tutoring and financial services. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum magna arcu, eget commodo nisi egestas non. Morbi eu accumsan nisl, sit amet aliquet purus. Morbi vel feugiat tellus.",
					"buttons": [ "Overview of our services" ] 
				}
				%}
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="small-12 medium-7 medium-centered columns">
				{% include "molecules-task-block" with {
					"title": "Where do you plan to take classes?",
					"subtitle": "Preparing for online classes",
					"body": "Beginning an online course, completing activities and connecting to students and faculty.",
					"buttons": [ "Button" ] 
				}
				%}
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-7 medium-centered columns">
				{% include "molecules-task-block" with {
					"title": "Preparing for classes on Campus",
					"body": "Campus safety, Snell Library, etc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum magna arcu, eget commodo nisi egestas non. Morbi eu accumsan nisl, sit amet aliquet purus.",
					"buttons": [ "Prepare for Boston" ],
					"hasEvent": true
				}
				%}
			</div>
		</div>
	</section>
</div>