<div class="demo">
	<!--foundation 4 col grid-->
  <div class="row">
    <div class="small-12 medium-4 columns">
      <div class="text-center bg-brand">1/3</div>
    </div>
     <div class="small-12 medium-4 columns">
      <div class="text-center bg-brand">2/3</div>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="text-center bg-brand">3/3</div>
    </div>
  </div>
</div>