<h1>Heading Level 1 (H1)</h1>
<div class="heading alpha">Heading Level 1 (.alpha)</div>
<h2>Heading Level 2 (H2)</h2>
<div class="heading beta">Heading Level 2 (.beta)</div>
<h3>Heading Level 3 (H3)</h3>
<div class="heading gamma">Heading Level 3 (.gamma)</div>  
<h4>Heading Level 4 (H4)</h4>
<div class="heading delta">Heading Level 1 (.delta)</div>
<h5>Heading Level 5 (H5)</h5> 
<h6>Heading Level 6 (H6)</h6>