{% extends "sidebar.twig" %}

{% block main %}
	<h2>{{ title }}</h2>
	{% include "molecules-time-byline" %}
	{% include "organisms-wysiwyg-article" %}
{% endblock %}

{% block sidebar %}
	<div class="space-below">
		{% include "atoms-youtube" %}
	</div>

	{% for i in 0..3 %}
		{% include "molecules-titled-block" %}
	{% endfor %}
{% endblock %}