{% extends "base.twig" %}

{% block content %}
	<article>

		<div class="row">
			<div class="small-12 medium-7 medium-centered columns">
				<div class="space-below">
					{% include "atoms-youtube" %}
				</div>
				<h2>Section title</h2>
				<p>{{ fake('paragraph') }}</p>
			</div>
		</div>

		{% include "organisms-time-estimates" %}

	</article>
{% endblock %}