{% extends "base.twig" %}

{% block content %}
	<article>
		{% include "molecules-media-block" with { 
			"styleClass": "first flip",
			"mediaBlock": {
				"title": "The Basics",
				"first": true,
				"video": ""
			}} %}

		{% include "organisms-three-callouts" with {
			"callout": {
				"list": [
					{
						"styleClass": "bg-quaternary",
						"title": "Callout title",
						"body": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.",
						"links": [
							"Optional link"
						]
					},
					{
						"styleClass": "bg-quaternary",
						"title": "Callout title",
						"body": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.",
						"links": [
							"Optional link"
						]
					},
					{
						"styleClass": "bg-quaternary",
						"title": "Callout title",
						"body": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed."
					}
				]
			}
		} %}

		{% include "molecules-media-block" with { 
			"styleClass": "bg-green color-reverse textured",
			"mediaBlock": {
				"title": "Meet with Your Advisor",
			}} %}

		{% include "organisms-three-callouts" with {
			"callout": {
				"list": [
					{
						"styleClass": "bigtext",
						"title": "Callout title",
						"body": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.",
						"links": [
							"Optional link"
						]
					},
					{
						"title": "Callout title",
						"body": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.",
						"links": [
							"Optional link"
						]
					},
					{
						"title": "Callout title",
						"body": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.",
						"video": "cUbtUOYT5LE"
					}
				]
			}
		} %}

		<hr>

		{% include "organisms-three-callouts" with {
			"styleClass": "bg-quaternary"
		} %}

	</article>
{% endblock %}