.callout-group {
  padding: rem-calc(50) 0 rem-calc(36) 0;
  position: relative;

  h3 {
    margin-bottom: 1rem;
  }

  &.color-inversion {
    .heading--underlined {
      border-color: $white;
    }
    select {
      color: $black;
    }
  }

  .heading--underlined {
    border-color: $color-accent-quinary;
  }

  .background-image {
    z-index: -1;
    @extend %cover;
    .colorize {
      @extend %cover;
      background-color: $color-accent-tertiary;
    }
    .image {
      @extend %cover;
      opacity: .15;
      background-blend-mode: multiply;
    }
  }

  .inner {
    position: relative;
  }

  select {
    margin: .5rem 0;
    display: inline-block;
    width: auto;
  }

}