.footer {
  * {
    color: $white;
  }

  p, li, a {
    font-size: rem-calc(14);
  }

  a:hover {
    color: darken($white, 20%)
  }

  h3 {
    margin-top: -.5rem;
  }

  hr {
    height: 1px;
    background: $white;
    margin: 0 0 1rem 0;
  }

  .logo-wrapper {
    margin-bottom: .5rem;
    @include breakpoint(medium) {
      margin-bottom: 0;
      text-align: right;
    }

    svg {
      height: 30.5px;
      width: 200px;
      vertical-align: top;
      margin-top: rem-calc(5);
    }
  }
}

.footer-upper {
  background-color: $color-primary;

  padding: 1rem 1rem 2rem 1rem;
  @include breakpoint(medium) {
    padding: 3rem 0 2rem 0;
  }

  a:not(.no-underline) {
    text-decoration: underline;
  }
}

.footer-lower {
  background-color: $color-tertiary;
  padding: 1rem 0 .8rem 0;

  li, p {
    color: rgba($white, .6);
  }
}

.footer-nav {
  margin-top: 2rem;
  @include breakpoint(medium) {
    margin-top: 0;
  }

  ul {
    @extend .no-bullet;
  }
  > ul {
    width: 100%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    @include breakpoint(large) {
      justify-content: space-around;
    }
    
    > li {
      padding-right: 2rem;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1rem;
      > ul {
        margin-top: .75em;
        text-transform: none;
        font-weight: normal;
        li {
          margin-bottom: .5em;
        }
      }
    }
  }
  .button {
    margin-top: 1rem;
  }
}

.footer-utility {
  margin-bottom: rem-calc(5);
}

