.header {
  justify-content: space-between;

  // background styling for home page
  body.home & {
    margin-bottom: 2rem;
    .header-nav-wrapper {
      background: transparent;
    }
  }
  .background-image {
    @extend %cover;
    background-color: $color-primary;
    .desaturate {
      @extend %cover;
      opacity: .2;
    }
  }

  h1 {
    margin: 0;
    vertical-align: middle;
  }

  h2 {
    font-weight: 300;
  }
  
  svg {
    #neu path {
      fill: $color-primary;
    }
    #subtitle path {
      fill: $color-tertiary;
    }
  }

  .logo-title-wrapper {
    padding: .5rem 0;
  }

  .logo-wrapper {
    flex: auto 0 0;
    max-width: 80%;
    svg {
      max-width: 100%;
    }
  }

  .header-nav-wrapper {
    position: relative;
    background: $color-primary;
    .button {
      margin-top: 1rem;
      text-align: center;
      position: relative;
      line-height: 1rem;
      z-index: 1;
      overflow: hidden;
      &:before {
        height: 1rem;
        width: 1rem;
        content: '';
        background-image: image-url('plus-white.svg');
        background-size: contain;
        float:left;
        margin-right: .3rem;
      }
    }
    &.menu-expanded {
      .button {
        &:before {
          background-image: image-url('times-circle-white.svg');
        }
      }
      .header-nav {
        display: inherit;
      }
    }
  }
  
  .header-nav {
    max-width: $grid-row-width;
    margin: 0 auto;
  }

  @include breakpoint(menu down) {
    .header-nav {
      padding: rem-calc(0 15 15 15);
    }
  }

  @include breakpoint(menu) {
    .header-nav-wrapper {
      padding-top: rem-calc(55);
    }

    .header-nav {
      display: block;
      position: relative;
      .main-nav {
        position: static;
        > ul {
          justify-content: space-between;
        }
      }
    }
    .logo-title-wrapper {
      padding: rem-calc(10) 0;
    }
    .logo-wrapper {
      float: left;
      padding-right: 1rem;
      margin-right: 2rem;
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);
      margin-bottom: rem-calc(10);
      border-right: 3px solid $color-accent-senary;
    }
  }
}

.header-title {
  display: block;
  padding-bottom: 3rem;
  position: relative;
  // the white bar
  &::before {
    content: '';
    position: absolute;
    background-color: $white;
    height: 1.5rem;
    width: 97%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  * {
    color: $white;
    font-weight: normal;
  }
  .icon-decoration-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: $white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    svg {
      height: 1.3rem;
      width: 1.3rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      path {
        fill: $color-primary;
      }
    }
  }
  @include breakpoint(medium) {
    // set the width of the white bar decoration
    &::before {
      width: percentage(.05 + 7/12); 
    }
  }
  @include breakpoint(menu) {
    padding: 3rem 0 6rem 0;

    // the decorations on the subtitle
    .intro {
      overflow: hidden;
      p {
        display: inline-block;
        position: relative;
      
        &::before, &::after {
          content: '';
          height: 2px;
          border-top: 2px solid $white;
          top: 50%;
          width: 999px;
          position: absolute;
          max-width: 40%;
        }
        &::before {
          right: 100%;
          margin-right: 1rem;
        }
        &::after {
          left: 100%;
          margin-left: 1rem;
        }
      }
    }
  }
}