%tab-title {
  > a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
  }
  &:hover, &.is-active {
    > a {
      color: $color-secondary;
    }
  }
}

.tabs.vertical {
  .tabs-title {
    position: relative;
    @extend %tab-title;
    &.is-active {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: rem-calc(-10);
        background-color: $white;
        border-right: 3px solid $color-accent-quinary;
        border-top: 3px solid $color-accent-quinary;
        transform: translateY(-50%) rotate(45deg);
        height: 1rem;
        width: 1rem;
      }
    }
  }
}

.tabs-content.vertical {
  border-left: 3px solid $color-accent-quinary;
  padding-left: 2rem;
}

.accordion-item {
  @extend %tab-title;
}