.teaser-list {
  position: relative;
  background-image: image-url('dark-texture.jpg');
  overflow: hidden;
  h2 {
    color: $white;
  }
  .background-image {
    @extend %cover;
    &:after {
      @extend %pseudo-cover;
      background: linear-gradient(to bottom, rgba(black, .4), rgba(black, 0) 30%);
    }
  }

  .masonry-item {
    width: 100%;
    padding: 0 rem-calc(7.5);
  }

  @include breakpoint(medium) {
    .masonry-item {
      width: 50%;
    }
  }
  @include breakpoint(large) {
    .masonry-item {
      width: 33.333%;
    }
  }
}

.teaser-list-inner {
  padding: 2rem 0;
  .padded-more & {
    padding: 3rem 0 5rem 0;
  }
  position: relative;
  z-index: 2;
}

.teaser-list-container {
  .block {
    margin-bottom: 1rem;
    img {
      width: 100%;
    }
  }
}

.teaser-list-filters {
  background-color: $color-primary;
  padding: 2rem 0;
  ul, label {
    color: $white;
    display: inline-block;
  }
  li {
    margin-bottom: .5rem;
  }
  label {
    padding-right: .5rem;
  }

  .teaser-list-filter {
    @extend .button;
    @extend .button-tight;
    @extend .button-ghost;
    color: $white;
    &.active {
      position: relative;
      background-color: $white;
      color: $color-primary;
      &:after {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
        content: '';
        position: absolute;
        width: 0; 
        height: 0; 
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-top: .5rem solid $white;
      }
    }
  }
}