.time-estimates {
	$block-padding: .5rem;
	$medium-block-padding: 4rem;

	overflow: hidden;

	h5 {
		font-size: rem-calc(14);
	}

	section {
		padding: 1rem 0;
	}

	.color-reverse {
		h5 {
			color: $color-accent-octonary;
		}
		.time-byline {
			.icon-circle-wrapper {
				&::before {
					border-color: $color-accent-nonary;
					background-color: $color-accent-tertiary;
				}
			}
		}
	}

	.time-byline {
		.icon-circle-wrapper {
			&::before {
				background-color: $white;
			}
		}
		
	}
	.task-block {
		padding: $block-padding 0;
	}
	
	@include breakpoint(medium) {
		margin-left: -1rem;
		.time-byline {
			p {
				margin: 0 0 0 3rem !important;
			}
		}
		.task-block {
			padding: $medium-block-padding 0;
		}
		.task-block-inner {
			padding-left: 3rem;
		}

		// the vertical line connecting the block icons
		section {
			padding: 2rem 0;
			.task-block {
				position: relative;
				&::before {
					content: '';
					position: absolute;
					border-left: 2px solid $color-accent-senary;
					top: -2rem;
					bottom: (-.5rem - $medium-block-padding);
					left: rem-calc(7);
					width: 2px;
				}
			}
			&.color-reverse {
				.task-block {
					&::before {
						border-color: $color-accent-nonary;
					}
				}
			}
			// don't show the line on the last task block
			&:last-child {
				.row:last-child {
					.task-block {
						&::before {
							display: none;
						}
					}
				}
			}
		}
	}
}