	{% if teaser.jumpline is not empty %}<a href="{{teaser.jumpline.button.url}}">{% endif %}
	<div class="lead-image">
		{#
				atoms-image allows arbitrary image sizes; could use any of the others
				specfified in atoms-images
		#}
		{% set vars = {src:"//magicyeti.us/200/200",alt:"teaser-image"} %}
		{% include "atoms-image()" with vars %}
	</div>
	{% if teaser.jumpline is not empty %}</a>{% endif %}
