<blockquote>
	<p><b>Usage note:</b> Blockquotes are extended inline quotations
	that quote a third party or source. For pullquotes, use the
	<code>.pullquote</code> class.</p>
	<cite class="citation">John Williams</cite>
</blockquote>
