<p><a href="#" class="button">Basic Button</a></p>
<p><a href="#" class="button button-secondary">Secondary Button (.button.button-secondary)</a></p>
<p><a href="#" class="button button-tertiary">Tertiary Button (.button.button-tertiary)</a></p>
<p><a href="#" class="button button-inverted">Inverted Button (.button.button-inverted)</a></p>
<p><a href="#" class="button button-white">White Button (.button.button-white)</a></p>
<p class="bg-dark"><a href="#" class="button button-ghost">Ghost Button (.button.button-ghost)</a></p>
<p class="bg-dark"><a href="#" class="button button-ghost-inverted">Ghost Button (.button.button-ghost-inverted)</a></p>

<p><a href="#" class="button button-tight icon-prepend fa-thumb-tack">Tight button with icon (.button.button-tight.icon-prepend.fa-thumb-tack)</a></p>
<p><a href="#" class="button button-loose">Loose button (.button.button-loose)</a></p>

<p><a href="#" class="button prev">Nav Button Prev (.button.prev)</a></p>
<p><a href="#" class="button next">Nav Button Next (.button.next)</a></p>