/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.button {
  text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;

  // a lot of button settings should be set in _foundation_settings: sizes, padding, border radius, etc.

  &:hover {
    background-color: darken($color-primary, 10%);
  }
	
	&.button-call {
		background-color: $color-tertiary;
		&:hover, &.active {
		  background-color: darken($color-tertiary, 20%);
		}
	}
	
	&.button-secondary {
		background-color: $color-secondary;
		&:hover, &.active {
		  background-color: darken($color-secondary, 20%);
		}
	}
	
	&.button-ghost {
		background-color: transparent;
		border: solid 2px #FFF;
		&:hover, &.active {
		  background-color: transparentize(#FFF, 0.75);
		}
	}
	
  &.dark {
    background-color: $black;
    &:hover, &.active {
      background-color: $color-brand-complement;
    }
  }

  &.prev, &.next, &.up, &.down {
    font-size: 0;
    height: 3rem;
    width: 3rem;
    padding: 0;
    margin-bottom: 0;
    &.dark {
      background-color: $black;
      &:hover, &.active {
        background-color: lighten($black, 20%);
      }
    }
    &:before {
      @extend .fa;
      font-size: 1rem;
      line-height: 3rem;
    }
  }
  &.prev:before {
    content: $icon-chevron-left;
  }
  &.next:before {
    content: $icon-chevron-right;
  }
  &.up:before {
    content: $icon-chevron-up;
  }
  &.down:before {
    content: $icon-chevron-down;
  }

  &.right-arrow {
    position: relative;
    &:after {
      position: absolute;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // in a list? lose the margin
  li & {
    margin-bottom: rem-calc(2);
  }
}

.icon-button {
  display: inline-block;
  text-transform: uppercase;
  font-family: $font-secondary;
  text-decoration: none;
  font-size: rem-calc(18);
}
