/*
 * text-fields
 */

input[type="text"], input[type="email"] {
  color: $black;
  background-color: $color-light-background;
  box-shadow: inset 1px 2px 10px -5px $black;
  @include placeholder {
    color: $black;
  }
}

// hide the label and just put the required star
label.required {
  &:before {
    color: $color-brand;
    content: '*';
  }
  &.hide {
    display: inline;
    float: left;
    font-size: 0;
    &:before {
      font-size: 1rem;
      display: inline-block;
      margin-top: .5rem;
    }
  }
}

label.required.hide + input {
  width: 95%;
  margin-left: 1rem;
}

/*
 * checkbox
 */

/*
 * radio-buttons
 */

/*
 * select-menu
 */

 /*
  * html5-inputs
  */
