/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video, object {
	max-width: 100%;
	height: auto;
}

iframe {
	margin-bottom: $space;
}

figure {
	img {
		margin-bottom: $space-half;
	}
}

.desaturate {
  filter: grayscale(100%);
}

.image-overlay-decorations {
  position: relative;
  &:before {
    content: '';
    display: block;
    @extend %pseudo-cover;
    background-image: image-url('image-overlay-rectangles.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.right-caption {
  background-color: $black;
  .columns {
    overflow-x: hidden;
  }
  img {
    display: block;
    width: auto;
    margin: 0;
    max-width: none;
  }
  figcaption {
    padding: 1rem;
    h4 {
      margin: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    * {
      text-align: left !important;
      color: $white;
    }
  }
}

.figure-credit {
  img {
    margin: 0;
    width: 100%;
  }
  .credit-wrapper {
    position: relative;
  }
  .credit {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $color-brand;
    padding: .5rem 1rem;
    * {
      color: $white;
    }
    h2, h3, h4, h5, h6 {
      margin: 0;
    }
    p:last-child {
      margin: 0;
    }
  }
}

.embed-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.embed-bleed {
  height: 560px;
  overflow: hidden;
  position: relative;
  .embed-wrapper {
    top: 50%;
    transform: translateY(-50%);
  }
  .embed-overlay {
    @extend %pseudo-cover;
    z-index: 2;
    * {
      color: white;
    }
    .hgroup {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      .circle-around {
        &:before {
          color: $black;
          background-color: $white;
        }
      }
    }
  }
}

figure {
	margin: 0;
	padding: 0;
}

figure.bleed {
  $bleed-height: rem-calc(600);
  position: relative;
  .bleed-image {
    width: 100%;
    height: $bleed-height;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  figcaption {
    @include breakpoint(medium) {
      position: absolute;
      top: 0;
      left: 0;
      height: $bleed-height;
      width: 100%;
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 50%;
      }
      .three-stats {
        background: transparent;
      }
    }
  }
  &.bg-complement figcaption:before {
    background: $color-brand-complement;
    @include breakpoint(medium) {
      // apply an alpha gradient
      background: linear-gradient(to right, rgba($color-brand-complement, 1) 0%, rgba($color-brand-complement, 1) 60%, rgba($color-brand-complement, .8) 100%);
    }
  }
  &.bg-brand figcaption:before {
    background: $color-brand;
    @include breakpoint(medium) {
      // apply an alpha gradient
      background: linear-gradient(to right, rgba($color-brand, 1) 0%, rgba($color-brand, 1) 60%, rgba($color-brand, .8) 100%);
    }
  }
}
