/* -------------------------------------------------------------- */
/*    Atoms - Lists
/* -------------------------------------------------------------- */


/* Definition Lists
 /* _______________________________________________________________ */

dl {
	margin: 0;
	dt {
		margin: 0;
		&.no-definition {
			margin-bottom: 0.75rem;
		}
	}
}

dd {
	margin-left: 0;
}


/* Unordered, Ordered (set defaults)
 /* _______________________________________________________________ */

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: rem-calc(20);
	li {
		text-indent: rem-calc(-16);
		margin-left: rem-calc(23);
		&:before {
			display: inline-block;
			color: $color-primary;
		}
	}
}

ul {
	// Used to calculate a few values for bullet positioning
	$bullet-font-size: 0.5em;
	$bullet-spacing: .5rem;

	li {
//		margin-left: 0.5em;
		margin-left: calc( ( #{$bullet-font-size} + #{$bullet-spacing} ) );
		text-indent: calc( ( #{$bullet-font-size} + #{$bullet-spacing} ) * -1 );
//		padding: $bullet-font-size;
//		text-indent: 0;


		&::before {
			// use the fontawesome small dot,
			// which is less ugly and intrusive than the html default bullet
			content: $icon-bullet;
			font-family: $icon-font;
			font-size: $bullet-font-size;
			vertical-align: ($bullet-font-size / 2);
			text-indent: 0;
			width: 1em;
//			margin-left: calc( ( 1em + #{$bullet-spacing} ) ) ;
			margin-left: 0;
			margin-right: $bullet-spacing;
		}
	}
}

ol {
	li {
		counter-increment: brand-counter;
		&:before {
			margin-left: .75rem;
			content: counter(brand-counter) ". ";
		}
	}
}


/* Strip Unordered List
 /* to use a list for layout instead of editorial/text/content
 /* _______________________________________________________________ */

.strip-list {
	margin: 0 0 0 0;
	&> li {
		text-indent: 0;
		margin-left: 0;
		&:before {
			display: none;
		}
	}
}

ul[class*="block-grid"] {
	@extend .strip-list;
}



/* Loose UL Lists
 /* _______________________________________________________________ */

ul.loose-list {
	li {
		margin-bottom: rem-calc(10);
	}
}


/* Inline UL Lists
 /* _______________________________________________________________ */

ul.inline {
	list-style: none;
	li {
		display: inline-block;
		text-indent: 0;
		margin-left: 0;
		margin-right: rem-calc(20);
		&:last-child {
			margin-right: 0;
		}
		&:before {
			display: none;
		}
	}
	&.spaced-more {
		li {
			margin-right: rem-calc(40);
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

ul.inline-separated {
	@extend .inline;
	text-align: center;
	li {
		position: relative;
		margin-left: -0.25em;
		margin-bottom: 0.6rem;
		margin-right: 0;
		padding-right: 0;
		padding-left: 0;
		&::after {
			content: '|';
		}
	}
}

.list--wrapped {

	display: block;
	column-count: 2;

	li {
		display: block;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
	}


	&.across {
		display: flex;
		flex-flow: row wrap;
		flex: 1 0 auto;

		li {
			display: block;
			width: 50%;
			margin-bottom: $space;

			&:nth-child(even) {
				padding-left: $pad;
			}
		}
	}

}
