/* -------------------------------------------------------------- */
/*    Atoms - Tables
/* -------------------------------------------------------------- */

/* Table
/* _______________________________________________________________ */

// Many of the table styles appear to be set in Foundation
tbody th {
	text-align: left;
	font-style: italic;
}
