/* -------------------------------------------------------------- */
/*	Atoms - Text
/*
/*	TODO:
/*		- From original base/_text.scss file, needs organization
/* -------------------------------------------------------------- */



/* Text Related Elements
/* _______________________________________________________________ */
p {
	margin-bottom: $space;
	line-height: rem-calc(22);
}

abbr {
	border-bottom: 1px dotted $gray;
	cursor: help;
}

.uppercase {
	text-transform: uppercase;
}

.letter-spaced {
	letter-spacing: rem-calc(2);
}

.em {
	font-style: italic;
}


/* Blockquote
/* _______________________________________________________________ */
blockquote {

}


/* Horizontal Rule
/* _______________________________________________________________ */
hr {
	border: 0;
	height: 1px;
	background: $color-brand;
	margin: $space-double 0;
	&.space {
		background: transparent;
	}
}


/* Headings
/* _______________________________________________________________ */
h1,
.alpha {
	@extend h1;
}


h2,
.beta {
	@extend h2;
}

h3,
.gamma {
	@extend h3;
}

h4,
.delta {
	@extend h4;
}

h5 {

}

h6 {

}


/* Subheadings
/* _______________________________________________________________ */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}

.dropcap-letter {
	font-family: $font-secondary;
	font-weight: 300;
	background-color: $color-brand;
	color: $white;
	font-size: rem-calc(20);
	padding-top: .3rem;
	padding-bottom: .3rem;
	text-align: center;
	width: rem-calc(28);
	margin-right: .2rem;
	margin-top: .4rem;
	float: left;
	line-height: 1em;
}

.bignumber {
	font-family: $font-secondary;
	font-weight: 900;
	font-size: rem-calc(35);
	color: $color-brand;
	line-height: 1em;
}

.hgroup {
	text-align: center;
	margin: 0 auto;
	padding: 0 2rem;
	@include breakpoint(medium) {
		padding: 0 0;
		max-width: 50%;
	}
	h1 {
		line-height: 1em;
	}
	h3 {
		font-weight: bold;
		font-size: 1rem;
	}
	p {
		margin-top: 1.5rem;
	}
}
[role="main"] > .hgroup {
	padding-top: 2rem;
}

 // ad landing page header group
.hgroup-ad {
	text-align: center;
	h2 {
		line-height: 1.1em;
		font-style: normal;
		color: white;
		font-family: $font-primary;
		&:before,
		&:after {
			display: none;
		}
		@include breakpoint(medium) {
			font-size: rem-calc(60);
		}
	}
	h3 {
		font-family: $font-primary;
		letter-spacing: rem-calc(2);
		color: $color-light-border;
	}
}

.hgroup-inline {
	margin-bottom: 2rem;
	> * {
		display: inline-block;
		vertical-align: middle;
	}
	h6 {
		padding: 0 3rem;
		font-size: 1rem;
		color: $gray;
		max-width: rem-calc(300);
	}
}


/* Links
/* _______________________________________________________________ */
a {
	color: $color-tertiary;
	outline: 0;
	transition: $transition-time;
	&:hover,
	&:focus {
		color: darken($color-tertiary, 0.2);
	}
}

.topline {
	position: relative;
	text-decoration: none;
	&:before {
		position: relative;
		content: '';
		display: block;
		top: 0;
		left: 0;
		width: rem-calc(80);
		height: 0;
		border-top: 1px solid $color-brand;
		padding-bottom: rem-calc(5);
	}
	&:hover {
	&:before {
		border-color: $color-brand-darken;
		}
	}
}

.loud {
	font-size: rem-calc(14);
	font-weight: 900;
	text-transform: uppercase;
	@extend .letter-spaced;
}

.underline {
	text-decoration: underline;
	&:before {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
}

p a {
text-decoration: underline;
}

// arrow after link
.right-arrow {
	&:after {
		vertical-align: middle;
		@extend .fa;
		content: $fa-var-chevron-right;
		font-size: rem-calc(12);
		line-height: inherit;
		padding-left: .8rem;
	}
}

.down-arrow {
	@extend .fa;
	&:before {
		font-size: 1rem;
		content: $fa-var-chevron-down;
	}
}

.arrow-before {
	@extend .fa;
	&:before {
		content: $fa-var-chevron-right;
		padding-right: rem-calc(10);
	}
}

.double-down-arrow {
	@extend .fa;
	&:before {
		content: $fa-var-angle-double-down;
	}
}

&.circle-around {
	&:before {
		display: block;
		background-color: $color-brand-complement;
		border-radius: 50%;
		height: 2rem;
		width: 2rem;
		color: $white;
		line-height: 2rem;
		font-size: rem-calc(20);
	}
	&.bg-white {
		&:before {
			color: $black;
			background-color: $white;
		}
	}
}


/* FontAwesome includes as prepend/appends
/* _______________________________________________________________ */
.icon-prepend,
.icon-append {
	&:before {
		@extend .fa;
	}
	&.big-icon {
		&:before {
			font-weight: normal;
			color: $color-brand;
			font-size: 3em;
		}
	}
	&.small-icon {
		&:before {
			padding-top: rem-calc(3);
			font-size: .7em;
		}
	}
}

.icon-prepend {
	&:before {
		padding-right: 1rem;
	}
}

.icon-append {
	display: inline-block;
	position: relative;
	padding-right: 2em;
	vertical-align: middle;
	&.big-icon {
		padding-right: 4rem;
		line-height: 3em;
	}
	&:before {
		position: absolute;
		right: 0;
	}
}

.icon-list:before {
	content: $fa-var-list;
}
.icon-compass:before {
	content: $fa-var-compass;
}
.icon-share:before {
	content: $fa-var-share;
}
.icon-email:before {
	content: $fa-var-envelope;
}
.icon-down:before {
	content: $fa-var-chevron-down;
}
.icon-down-circle:before {
	content: $fa-var-chevron-circle-down;
}

 // svg icons -- might one day turn these into a font
$icons: lock, bike, food;
%svg-icon {
	display: inline-block;
	height: 35px;
	width: 100px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
@each $icon in $icons {
   .icon-#{$icon} {
		@extend %svg-icon;
		background-image: image-url('#{$icon}.svg');
   }
}


/* Intro Text
/* _______________________________________________________________ */
.intro {
	font-size: $font-size-large;
	font-weight: bold;
}

.dropcap {
   &::first-letter {
		@extend .dropcap-letter;
   }
}

.small-info {
	font-family: $font-secondary;
	margin: 0;
	text-transform: uppercase;
	font-style: italic;
	font-size: rem-calc(11);
}


/* Pullquote
/* _______________________________________________________________ */
.pullquote {
	font-family: $font-secondary;
	font-size: $font-size-large;
}


/* Caption
/* _______________________________________________________________ */
.caption {
	font-style: italic;
}


/* Passages of Text
/* _______________________________________________________________ */
.text {
	a {
		text-decoration: underline;
	}

	ul, ol {
		margin-left: rem-calc(30);
		margin-bottom: $space;
	}
}

/* TinyWords demonstration styles
/* _______________________________________________________________ */
.tinywords {
	color: $color-primary;
	font-style: italic;
	font-size: .8em;
}
