{% extends "base.twig" %}

{% block content %}

  {% block pre %}
  {% endblock %}

  <div class="space-above space-below more">
    <div class="row">
      <article class="small-12 medium-8 large-7 columns">
        {% block main %}
        {% endblock %}
      </article>

      <aside class="small-12 medium-4 columns">
        {% block sidebar %}
        {% endblock %}
      </aside>
    </div>
  </div>

  {% block post %}
  {% endblock %}

{% endblock %}