{# Menu Template: `main-nav.twig` #}

<nav class="top-bar" data-topbar role="navigation">
    <ul class="left">
      {% for item in menu.get_items %}
              <li class="nav-main-item {{ item.classes | join(' ') }}">
                  <a href="{{ item.get_link }}">{{ item.title }}</a>
              </li>
      {% endfor %}
    </ul>
</nav>
