<div class="headgroup">
	{% if teaser.superhead is not empty %}<div class="superhead">{{ teaser.superhead }}</div>{% endif %}
	<div class="headline">{{ teaser.headline|dT(fake("words",{'nb':random(10)}))|raw }}</div>
	{% if teaser.subhead is not empty %}<div class="subhead">{{ teaser.subhead|raw }}{% endif %}
</div>
