<p><a href="#" class="button">Basic Button</a></p>
<p><a href="#" class="button button-call">Call to Action</a></p>
<p><a href="#" class="button button-secondary">Secondary Button</a></p>
<p class="bg-dark"><a href="#" class="button button-ghost">Ghost Button</a></p>

<p><a href="#" class="button prev">Nav Button Prev</a></p>
<p><a href="#" class="button next">Nav Button Next</a></p>