<div class="accordion" data-accordion="accordion-XXXXX" role="tablist">
	<div class="accordion-item is-active" data-accordion-item>
		<a href="#panel1" role="tab" class="accordion-title" id="panel1-heading" aria-controls="panel1">Accordion 1</a>
		<div class="accordion-content" id="panel1" role="tabpanel" data-tab-content aria-labelledby="panel1-heading">Content
		</div>
	</div>
	
	<div class="accordion-item" data-accordion-item>
		<a href="#panel2" role="tab" class="accordion-title" id="panel2-heading" aria-controls="panel2">Accordion 2</a>
		<div class="accordion-content" id="panel2" role="tabpanel" data-tab-content aria-labelledby="panel2-heading">Content
		</div>
	</div>
	
	<div class="accordion-item" data-accordion-item>
		<a href="#panel3" role="tab" class="accordion-title" id="panel3-heading" aria-controls="panel3">Accordion 3</a>
		<div class="accordion-content" id="panel3" role="tabpanel" data-tab-content aria-labelledby="panel3-heading">Content
		</div>
	</div>
	
	<div class="accordion-item" data-accordion-item>
		<a href="#panel4" role="tab" class="accordion-title" id="panel4-heading" aria-controls="panel4">Accordion 4</a>
		<div class="accordion-content" id="panel4" role="tabpanel" data-tab-content aria-labelledby="panel4-heading">Content
		</div>
	</div>
</div>