<div class="social-links">
	<a href="{{ url }}" class="social-facebook">Facebook</a>
	<a href="{{ url }}" class="social-twitter">Twitter</a>
	<a href="{{ url }}" class="social-linkedin">LinkedIn</a>
	<a href="{{ url }}" class="social-google">Google+</a>
</div>