<div class="time-byline">
	<div class="icon-circle-wrapper">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="18px" viewBox="0 0 14 18" xml:space="preserve">
			<path d="M10,2.683V1c0-0.553-0.447-1-1-1H5C4.447,0,4,0.447,4,1v1.683C1.637,3.807,0,6.209,0,9s1.637,5.193,4,6.317V17
				c0,0.553,0.447,1,1,1h4c0.553,0,1-0.447,1-1v-1.683c2.363-1.124,4-3.526,4-6.317S12.363,3.807,10,2.683z M7,14
				c-2.757,0-5-2.243-5-5s2.243-5,5-5s5,2.243,5,5S9.757,14,7,14z"/>
			<path d="M9,9H7V7c0-0.553-0.447-1-1-1S5,6.447,5,7v3c0,0.553,0.447,1,1,1h3c0.553,0,1-0.447,1-1S9.553,9,9,9z"/>
		</svg>
	</div>
	<p><strong>Estimated time to complete:</strong> {{ time }}</p>
</div>