<ul class="strip-list">
	<li>Stripped unordered list .strip-list</li>
	<li>To use a list for layout instead of editorial/text/content</li>
	<li>
		<ul>
			<li>Stripping will apply only to the parent list</li>
			<li>So you can use a normal bulleted list inside it</li>
		</ul>
	</li>
	<li>This is the last list item</li>
</ul>