<ul class="loose-list">
	<li>Unordered list with loose margins .loose-list</li>
	<li>This is a list item in an unordered list</li>
	<li>
		Lists can be nested inside of each other
		<ul>
			<li>This is a nested list item</li>
			<li>This is another nested list item in an unordered list</li>
		</ul>
	</li>
	<li>This is the last list item</li>
</ul>