<ul class="inline">
	<li>Inline unordered list .inline</li>
	<li>This is a list item in an unordered list</li>
	<li>This is the last list item</li>
</ul>

<ul class="inline spaced-more">
	<li>Inline unordered list, with more space .inline.spaced-more</li>
	<li>This is a list item in an unordered list</li>
	<li>This is the last list item</li>
</ul>